doctype html
html(xmlns="http://www.w3.org/1999/xhtml")

    include ../../../../vendor/helpers/mixins
    include ../../../../vendor/helpers/head
    body
        include helpers/preheader
        table.overbody
            tr
                td.center
                    table(background="https://static.cdnroute.io/files/storage/public/62/be/b7450df8c7f2f1h0f7/Group_225__7_.png").body.bgr
                        tr
                            td(align="center", valign="top").center
                                center
                                    table.container
                                        tr
                                            td
                                                include blocks/header

                    table.body.body-2
                        tr
                            td(align="center", valign="top").center
                                center.centerino
                                    table.container.containerino
                                        tr
                                            td
                                                include blocks/second

                    table(background="https://static.cdnroute.io/files/storage/public/62/c2/da3498f139h1i7b2d2/Group_297.png").body.bgr-2
                        tr
                            td(align="center", valign="top").center.pb50
                                center
                                    table.container
                                        tr
                                            td
                                                include blocks/third
                                                include helpers/footer
                                                

        //Gmail App Fix
        include ../../../../vendor/helpers/gmail-fix
