*
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  width: 100% !important

table.body
  background: #F8F8FB

.transparent
  background: #F8F8FB
  
.white-bg
  background: #ffffff

.brad-top
  border-top-left-radius 15px
  border-top-right-radius 15px
  overflow hidden

.brad-bot
  border-bottom-left-radius 15px
  border-bottom-right-radius 15px
  overflow hidden

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.bb
  border-bottom: 2px solid #EAEBEE

.nopoint
  cursor: default !important
  display: block

.img100
  float: none
  display: block
  width: 100%

.logo
  float: none
  max-width 168px
  height: 25px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  margin: 0 auto

.title
  color: #0B1735
  font-size: 36px
  line-height: 44px
  font-weight: 700
  font-family: Helvetica !important

.try
  float: none
  color: #6939CF
  font-size: 14px
  line-height: 27px
  font-weight: 700
  font-family: Helvetica !important
  text-transform: uppercase

.arr
  float: none
  display: inline-block
  vertical-align: middle
  padding-left: 11px
  max-width: 10px

.text
  font-family: Helvetica !important
  color #272D3D
  font-size 18px
  font-weight 400
  line-height 27px
  
.subtitle
  color: #2A3554
  font-size: 28px
  line-height: 34px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 25px !important
    line-height: 32px !important
    word-break: break-word !important


.purple-block
  background: #F8F5FF
  border-radius: 15px
  padding: 25px 20px 22px 30px
  box-sizing: border-box

.block-title
  color: #2A3554
  font-size: 24px
  line-height: 29px
  font-weight: 700
  font-family: Helvetica !important
  
.smaller-text
  color: #272D3D
  font-size: 16px
  line-height: 26px
  font-weight: 400
  font-family: Helvetica !important

.point
  display block
  overflow: hidden

.point_left
  float: left
  width: 225px
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-bottom: 20px !important

.point-img
  float: none
  display block
  width: 200px !important
  @media screen and (max-width: 600px)
    margin: 0 auto !important

.point_right
  float: left
  max-width: 240px
  @media screen and (max-width: 600px)
    float: none !important
    display block !important
    max-width: 100% !important
    padding-right: 20px !important

 .point-title
   color: #2A3554
   font-size: 21px
   line-height: 24px
   font-weight: 700
   font-family: Helvetica !important

.point-text
  color: #2A3554
  font-size: 16px
  line-height: 24px
  font-weight: 400
  font-family: Helvetica !important


.green-block
  padding: 30px 20px 15px 28px
  background: url('https://static.cdnpub.info/files/storage/public/60/7e/a43d9d2846g4b9f0a8/green.png') left top no-repeat
  background-size: cover
  border-radius: 15px
  margin-bottom: 20px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-bottom: 30px !important

.trend-img
  width: 190px !important
  float: none
  margin: 0 auto

.block-left
  max-width: 190px
  display: inline-block
  vertical-align: middle
  padding-right: 45px
  @media screen and (max-width: 600px)
    padding-right: 0 !important
    width: 100% !important
    max-width: 100% !important
    text-align: center !important

.block-right
  max-width: 230px
  display: inline-block
  vertical-align: middle
  @media screen and (max-width: 600px)
    max-width: 100% !important
    padding-top: 20px !important
    text-align: center !important

.up
  color: #2A3554
  font-size: 14px
  line-height: 17px
  font-weight: 700
  font-family: Helvetica !important
  display: inline-block
  margin-bottom: 18px
  padding: 5px 10px 4px
  border: 2px solid #0ECFA0
  border-radius: 15px
  letter-spacing 1px
  text-transform: uppercase

.block-text
  color: #2A3554
  font-size: 16px
  line-height: 24px
  font-weight: 400
  font-family: Helvetica !important
  
.green
  font-weight: 700
  color: #0ECFA0

.red-block
  background: url('https://static.cdnpub.info/files/storage/public/60/7e/a43dd63e56f4a3h5h6/red.png') left top no-repeat

.down
  color: #2A3554
  font-size: 14px
  line-height: 17px
  font-weight: 700
  font-family: Helvetica !important
  display: inline-block
  margin-bottom: 18px
  padding: 5px 10px 4px
  border: 2px solid #FB5651
  border-radius: 15px
  letter-spacing 1px
  text-transform: uppercase

.red
  color: #FB5651
  font-weight: 700

.left-col
  width: 50%
  padding-right: 50px
  box-sizing border-box
  float: left
  @media screen and (max-width: 600px)
    width: 100% !important
    float: none !important
    padding-bottom: 20px !important

.right-col
  width: 50%
  padding-right: 50px
  box-sizing border-box
  float: left
  @media screen and (max-width: 600px)
    width: 100% !important
    float: none !important

.col-img
  max-width: 190px
  height 110px
  box-sizing border-box
  float: none

.line-block
  background: url('https://static.cdnpub.info/files/storage/public/60/7e/a43da7a7d8b1c5i7c7/line.png') left 4px top 5px no-repeat
  background-size: 2px 66%

.line-text
  padding-left: 19px
  background: url('https://static.cdnpub.info/files/storage/public/60/7e/a43d7eca79i7d1f9e4/dot.png') left top 7px no-repeat
  background-size: 10px
  color: #2A3554
  font-size: 16px
  line-height: 24px
  font-weight: 400
  font-family: Helvetica !important
  padding-bottom: 15px

.pr20
  padding-right: 20px

.text a
  color: #213E8F
  font-weight: 700
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

table.medium-button td
  background: #FB5550
  border-radius: 5px !important
  padding: 0 !important

.butt
  color #ffffff
  font-size 14px !important
  line-height 17px !important
  font-weight 700 !important
  border-radius: 5px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 20px 0 18px !important
  font-family: Helvetica !important

.left-side
  display: inline-block
  width: 60%
  max-width: 280px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    max-width: 100% !important
    display: block !important

.right-side
  display: inline-block
  width: 40%
  padding-left: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    display: block !important
    padding-left: 0 !important
    padding-top: 20px !important

.indies
  display: block
  overflow: hidden
  margin-bottom: 20px

.indicator
  border-radius: 11px
  width: 230px
  min-height: 250px
  padding: 107px 26px 20px
  box-sizing: border-box !important
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    min-height: auto !important

.ind_rsi
  background: #F1F1F9 url('https://static.cdnpub.info/files/storage/public/60/7e/a43d042059j8h1d5c5/1.png') left 9px top 18px no-repeat
  background-size: 92px
  float: left
  @media screen and (max-width: 600px)
    margin-bottom: 20px !important

.ind_awesome
  background: #F1F1F9 url('https://static.cdnpub.info/files/storage/public/60/7e/a43d0b8496a2g8d2j7/2.png') left 9px top 18px no-repeat
  background-size: 92px
  float: right

.ind_average
  background: #F1F1F9 url('https://static.cdnpub.info/files/storage/public/60/7e/a43d1fb2e5h8a6e9b8/3.png') left 9px top 18px no-repeat
  background-size: 92px
  float: left
  @media screen and (max-width: 600px)
    margin-bottom: 20px !important

.ind_momentum
  background: #F1F1F9 url('https://static.cdnpub.info/files/storage/public/60/7e/a43d4e8989f8i1f2d1/4.png') left 9px top 18px no-repeat
  background-size: 92px
  float: right

.ind-title
  color: #2A3554
  font-size: 21px
  line-height: 24px
  font-weight: 700
  font-family: Helvetica !important

.ind-text
  color: #2A3554
  font-size: 16px
  line-height: 21px
  font-weight: 400
  font-family: Helvetica !important
  
.big-text
  color: #2A3554
  font-size: 24px
  line-height: 32px
  font-family: Helvetica !important
  font-weight: 700

p.warning
  text-align: left
  color: #B0B2BB !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  font-weight: 400

.address-text
  color: #B0B2BB !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400

.subscribe
  text-align: left !important

a.left
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  font-family: Helvetica !important
  text-decoration: underline
  margin-right: 30px
  @media screen and (max-width: 600px)
    margin-bottom: 10px !important

a.right
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  font-family: Helvetica !important
  text-decoration: underline


.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb35
  padding-bottom: 35px

.pb40
  padding-bottom: 40px

.pb45
  padding-bottom: 45px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl15
  padding-left: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important

.pl20
  padding-left: 20px

.mtb30
  margin-top: 30px
  margin-bottom: 30px

.mb15
  margin-bottom: 15px

.mb40
  margin-bottom: 40px