*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

table.overbody
  margin: 0 auto !important
  background: #f5f9fc
  width: 100%
  max-width: 100%
.radius-big
  border-radius: 77px

body
  margin: 0 auto !important
  text-align: center !important

table.row.header
  background #f5f9fc

table.body
  width: 100% !important
  background: #f5f9fc
.nopoint
  cursor: default !important
table.body-2
  width: 100% !important
  background: #e0ebfc !important

.logo
  float: none
  max-width 131px
.data-text
  display: inline-block
  font-family: Helvetica !important
  font-size: 14px
  line-height: 18px
  font-weight: 700
  background-color: #fef0da;
  color: #cb851d;
  letter-spacing: 0
  border: 2px solid #ebc76b;
  border-radius: 76px
  padding: 7px 15px
  @media screen and (max-width: 600px)
    text-align center !important


.img-header
  width 420px
  padding-bottom 34px
  padding-top 20px

.bg-white
  background: #ffffff

.bgr
  background-color: #ffffff 
  background-position: center top
  background-repeat: no-repeat
  background-size: cover
  height: auto
  border-radius: 10px;
  @media screen and (max-width: 600px)
    height: auto !important

.bgr-big-card
  background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/a0/5fae8779e0a6f0a1c6/Featured_icon__2_.png') right 25px center no-repeat
  background-size: 86px
  height: auto
  border-radius: 10px
  @media screen and (max-width: 600px)
    background-size: 0 !important
.undersoc
  background: url('https://fsms.quadcode.com/storage/public/cn/av/vha03qqv4qln7rfg/undersoc-22.png') center no-repeat
  background-size: 100%
  border-radius: 10px
  padding 20px
.pad-d
  padding 20px 30px 15px !important
.img-box-bag
  background: url('https://static.cdnroute.io/files/storage/public/62/a0/55afedcf63d3c6a0c7/Group_209_2.png') center top no-repeat
  background-size: 100%
  height: auto
  @media screen and (max-width: 600px)
    background-size: 80% !important

.img-box-left
  background: url('https://static.cdnroute.io/files/storage/public/62/a0/6b8e313870g1f1b3c8/Group_208.png') left bottom no-repeat
  background-size: 46px
  height: auto

.img-box-right
  background: url('https://static.cdnroute.io/files/storage/public/62/a0/6b8e318521j5i7f8j8/Group_210.png') right top no-repeat
  background-size: 34px
  height: auto      
.br10
  border-radius: 10px
.article-bg
  background: #f8fbff
  border-radius 10px 10px 0 0
  transition ease-in-out 2s

.brad-full
  border-radius 10px !important

.brad-top
  border-radius 10px 10px 0 0!important

.brad-bot
  border-radius 0 0 10px 10px!important

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.footer
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px solid #f1f5f8

table.medium-button td
  background: #FF5722
  border-radius: 3px !important

.butt
  color #ffffff
  font-size 14px !important
  font-weight 700 !important
  border-radius: 3px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 18px 0 17px !important
  font-family: Helvetica !important

.button-wrapper_top table.medium-button td
  background: #2BC777

.button-wrapper_bot table.medium-button td
  background: #2BC777
.blue-bg
  background: #6B95FF    

.white-bg
  background: #ffffff  

.pr50-a
  padding-right 50px
  @media screen and (max-width: 600px)
    padding-right 0 !important
.pr20-a
  padding-right 20px
  @media screen and (max-width: 600px)
    padding-right 0 !important

.bg-blue
  background:#3b72dc 
  border-radius: 7px !important

.forty-five
  font-size: 45px
  height 45px
  line-height: 45px

.thirty-five
  font-size: 35px
  height 35px
  line-height: 35px

.blue-background
  background-color:#3b72dc 
  background-position: center top
  background-repeat:  no-repeat
  background-size: 105% 105%
  border-radius: 7px !important
  @media screen and (max-width: 600px)
    background-size: cover !important

.article-left
  display: inline-block
  vertical-align: bottom 
  float: none !important

.border-img
  border: 2px solid #2c67dd 

.article-right 
  display: inline-block
  width 49px !important
  vertical-align: top
  float: none !important

.bottom-left-center
  display: inline-block
  vertical-align: bottom 
  float: left !important
  width 33px !important

.top-right-center
  display: inline-block
  vertical-align: bottom 
  float: right !important
  width 43px !important
.top-left
  width 32px !important

.bottom-left
  width 36px !important
.big-text-a
  font-family: Helvetica !important
  font-weight 700
  font-size: 38px
  color: #2B3956
  letter-spacing: 0
  line-height: 41px
  padding-bottom 10px
  @media screen and (max-width: 600px)
    font-size: 20px !important
    line-height: 29px !important
.big-text
  display: inline-block
  font-family: Helvetica !important
  font-weight 700
  font-size: 38px
  color: #2B3956
  letter-spacing: 0
  line-height: 41px
  padding-top 20px
  padding-bottom 10px
  padding-left 10px
  padding-right 10px
  @media screen and (max-width: 600px)
    padding-left 3px !important
    padding-right 3px !important
    font-size: 20px !important
    line-height: 29px !important
   
.green-free
  background: #1AD285
  border-radius: 76px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 14px
  line-height: 16px
  letter-spacing: 1.5px
  text-transform: uppercase
  display block
  width 72px
  color: #FFFFFF
  padding 5px 15px
.pt8
  padding-top 8px
.subtitle
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 18px
  color: #444C60
  padding-top 8px


.title
  font-family: Helvetica !important
  font-weight 700
  line-height 23px
  font-size: 18px
  color: #000000
  letter-spacing: 0
  @media screen and (max-width: 600px)
    text-align: center !important

.text
  font-family: Helvetica !important
  color #363636
  font-size 18px
  font-weight 400
  line-height 25px
  letter-spacing: 0

.big
  font-weight 700

.min-text
  font-family: Helvetica !important
  color #474a50;
  font-size 12px
  font-weight 400
  line-height 25px
  padding-right 30px
  text-align center
  @media screen and (max-width: 600px)
    padding-right 20px !important

.grey-text
  font-family: Helvetica !important
  font-size: 16px
  color: #838487
  letter-spacing: 0
  line-height: 26px
  padding-top 6px

.item-subtitle
  font-family: Helvetica !important
  font-size: 12px
  color: #b4b3b3
  line-height 14px
  text-transform uppercase
  padding-bottom 8px
.grey-data
  font-family: Helvetica !important
  font-weight: 400
  font-size: 14px
  line-height: 16px
  letter-spacing: 1px
  text-transform: uppercase
  color: #445A80
  padding-bottom 7px

.item-title
  color: #000000
  font-size: 18px
  line-height: 23px
  font-weight: 700
  font-family: Helvetica !important

.item-text
  color: #24262D
  font-size: 14px
  line-height: 21px
  font-weight: 400
  font-family: Helvetica !important
  letter-spacing: 0

.item-link
  font-family: Helvetica !important
  font-size: 14px
  color: #4882FF
  letter-spacing: 1px
  font-weight: 700
  text-transform: uppercase
  display: block

.arr
  float: none
  display: inline-block
  max-width: 7px
  padding-left: 7px
  vertical-align: baseline
.pr5
  padding-right 5px !important
.pr14
  padding-right 18px
.pr30
  @media screen and (max-width: 600px)
    padding-right 30px !important

.pr40
  padding-right 40px

.pr50
  padding-right 50px !important

.pr55
  padding-right 55px

.pb0
  padding-bottom: 0

.pb4
  padding-bottom: 4px

.pb4-a
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 4px !important

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px

.pb7-a
  padding-bottom: 23px
  @media screen and (max-width: 600px)
    padding-bottom: 7px !important

.pb10
  padding-bottom: 10px
.pb9
  padding-bottom: 9px
.pb15
  padding-bottom: 15px
.pb15-a
  padding-bottom: 15px
  @media screen and (max-width: 600px)
    padding-bottom: 15px !important

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px
.pb25-a
  padding-bottom: 25px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important
.pb30
  padding-bottom: 30px

.pb33
  padding-bottom: 33px
.pb36
  padding-bottom: 36px


.pb35
  padding-bottom: 35px

.pb40
  padding-bottom: 40px

.pb40a
  padding-bottom: 40px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important

.pb44
  padding-bottom: 44px

.pb45
  padding-bottom: 45px
.pb41
  padding-bottom: 41px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px
.pb70
  padding-bottom: 70px    
.pb77
  padding-bottom: 77px  

.pt0
  padding-top: 0
.pt3
  padding-top: 3px
.pt5
  padding-top: 5px

.pt7
  padding-top 7px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt23
  padding-top: 23px

.pb23
  padding-bottom: 23px

.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt30
  padding-top: 30px

.pt33
  padding-top: 33px

.pl34
  padding-left 34px
  @media screen and (max-width: 600px)
    padding-left 0 !important

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt42
  padding-top: 42px


.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pt70
  padding-top: 70px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 50px
  padding-right: 50px

.plr30-a
  padding-left: 0
  padding-right: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important
.link
  color #2B4EFF !important
  text-decoration underline !important
.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0

.bg-col
  background-color #ECF6FF
.plr40
  padding-left: 40px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.item-img
  float: none
  margin: 0 auto
  width: 100% !important
.item-img-2
  float: none
  margin: 0 auto
  width: 99% !important

.fb-img
  display inline-block
  float: none
  width: 18px !important
  padding-left: 1px
  vertical-align: middle

.left-mob
  float: left
  width: 280px
  display inline-block
  box-shadow: 0px 1px 2px rgba(130, 135, 181, 0.1);
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto 20px !important
    float: none !important
    
.right-mob  
  float: right
  width: 280px
  display inline-block
  box-shadow: 0px 1px 2px rgba(130, 135, 181, 0.1);
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto 20px !important
    float: none !important

.left-side
  float: left
  width: 280px
  display inline-block
  background: #ffffff
  box-shadow: 0px 1px 2px rgba(130, 135, 181, 0.1);
  border-radius: 10px;
  @media screen and (max-width: 600px)
    display block !important
    width 100% !important
    float none !important
    margin-bottom 20px !important

.right-side
  width: 280px
  display inline-block
  float right 
  background: #ffffff
  box-shadow: 0px 1px 2px rgba(130, 135, 181, 0.1);
  border-radius: 10px;
  @media screen and (max-width: 600px)
    display block !important
    width 100% !important
    float none !important
.padding
  padding: 26px 30px
.br10 
  border-radius: 10px  

.blue-block
  background: #EDF6FF
  border 1px solid #83C4FF
  border-radius: 10px
.title-blue-block 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 28px
  line-height: 30px
  color: #2B3956
  padding-bottom 12px
.text-blue-block 
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 23px
  color: #24262D
  padding-bottom 24px
.ig-big
  width 34px !important
.you-big
  width 37px !important
.twitter-big
  width 28px !important
  margin 0 72px
  @media screen and (max-width: 600px)
    margin 0 30px !important

.fb-big
  width 14px !important

.left-block
  width: 230px
  display inline-block
  // min-height: 197px
  min-height: 197px
  vertical-align: middle
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important
    float none !important
    margin-bottom: 15px !important
    min-height: auto !important
    height: auto !important
    width: 300px !important

.mh225
  min-height 197px
  @media screen and (max-width: 600px)
    min-height: auto !important
    height: auto !important
    
.most-text    
  font-family: Helvetica !important
  font-weight: 700
  font-size: 36px
  line-height: 41px
  color: #FFFFFF
  word-break: break-word
  padding: 16px 30px 10px 24px

.fl-l
  float: left 

.fl-r
  float: right   

.text-asset
  font-family: Helvetica !important
  font-size: 18px
  color: #363636
  letter-spacing: 0
  line-height 22px
  @media screen and (max-width: 600px)
    text-align center !important


.big
  font-weight 700

.right-block
  display inline-block
  background: #ffffff
  width: 330px
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important
    float none !important
    margin-bottom: 15px !important
    width: 300px !important

.padding-card
  padding 22px 30px 25px
  @media screen and (max-width: 600px)
    padding 15px !important

.padding-tournament  
  padding 18px 20px 0 30px

.flag-item
  display: inline-block
  color: #3F465E
  font-family: Helvetica !important
  font-weight: 700
  font-size: 15px
  line-height: 19px
  width 100%

.flag-top  
  // width 138p
  width 100%

.plr10-a
  padding-left: 10px 
  padding-right 10px
  @media screen and (max-width: 600px)
    padding-left: 0 !important 
    padding-right 0 !important

.pr50a30
  padding-right: 50px
  @media screen and (max-width: 600px)
    padding-right 20px !important
    
.flag-bott
  width 100%

.bord
  border: 2px solid #2c68dc
.pb18
  padding-bottom: 18px

.flag-img
  width 32px !important
  float none
  display inline-block
  vertical-align: middle
  padding-right 10px

.profit-text
  display: inline-block
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 21px
  color: #3F465E

.pl6
  padding-left: 6px !important
.green
  font-family: Helvetica !important
  color: #13CA72
  font-weight: 700

.big-number
  display: inline-block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 30px
  color: #3F465E

.cont 
  display block
  width 100%

.arr-big
  display: inline-block
  padding-top 8px
  width 32px !important
  padding-left 11px
  float: right 

.green-number
  display: inline-block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 26px
  line-height: 30px
  color: #13CA72
  padding-left 11px

.min-button 
  background: #13CA72
  border-radius: 77px
  max-width 100%
  width 100%

.big-green-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 76.346px
  line-height: 88px
  color: #13CA72
  padding-top 61px
  @media screen and (max-width: 600px)
    padding-top 20px !important

.text-week  
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 18px
  line-height: 23px
  color: #3F465E

.pb23
  padding-bottom 24px !important

.plr10
  padding: 0 10px

.join-bottom
  font-family: Helvetica !important
  font-weight 700
  text-transform uppercase
  font-size: 14px
  color: #FFFFFF
  letter-spacing: 1.16px
  text-align: center
  line-height 16px
  padding 14px
  display block
.flag-country
  width 30px !important
  float none
  display inline-block
  vertical-align: middle !important
  padding-right 10px
.country-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 18px
  color: #3F465E
  padding-bottom 6px
.country-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 28px
  line-height: 32px
  padding-bottom 2px

.red
  color: #DD4646
.min-data
  font-family: Helvetica !important
  font-weight: 400
  font-size: 14px
  line-height: 16px
  color: #444C60
  padding-bottom 3px

.pizzle
  display: inline-block
  width 85px

.entry
  display: inline-block  
  width 80px

.arrow-round
  display: inline-block 
  width 35px
  float right

// .bg-arrow  
//   background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/69/13903d8f11b3c9a2f2/Group_201__1_.png') right 19px bottom 18px no-repeat
//   background-size: 42px  

.pizzle-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 14px
  line-height: 16px
  color: #444C60
  padding-bottom 3px
.pizzle-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 20px
  line-height: 23px
  color: #00CB6E
.white-big-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #FFFFFF
.white-min-text
  font-family: Helvetica !important
  font-style: italic
  font-weight: 400
  font-size: 18px
  line-height: 21px
  color: #FFFFFF

.pb13
  padding-bottom 12px !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 24px !important

.ig
  max-width 20px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 20px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 20px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 20px !important

.fb
  max-width 20px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 9px !important

.address
  padding-top 0 !important

.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50 !important
  letter-spacing: 0
  line-height: 22px

.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  text-align: center
  line-height: 22px

.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

.stores
  width 362px
  
.padding-min
  padding 3px 3px 0 3px

.padding-big-card
  padding: 24px 30px
