*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important


body
  margin: 0 auto !important
  text-align: center !important

table.row.header
  background #f2f3f5
  height: 86px

.bgr
  background: url('https://fsms.iqoption.com/storage/public/cl/fk/dbuvga51bgs4ide0/bg-1.png') center no-repeat
  background-size: cover
  min-height: auto

.img-logo
  width 100%
  max-width: 580px !important

.back-bot
  background: #F7F9FF
  border: 1px solid #4572FF
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

.brad-full
  border-radius 4px !important

.brad-top
  border-radius 4px 4px 0 0!important

.brad-bot
  border-radius 0 0 4px 4px!important

table.body
  background: #F1F2F5

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.logo
  float: none
  max-width 144px
  padding-top: 10px
  padding-bottom: 32px
  @media screen and (max-width: 600px)
    margin 0 auto !important

.footer
  background #F1F2F5
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px solid #f1f5f8


table.medium-button td
  background: #E0E8FF
  border-radius: 3px !important

.butt
  color #ffffff
  font-size 14px !important
  font-weight 700 !important
  border-radius: 3px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 18px 0 17px !important
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.button-wrapper_top
  padding-top: 0
  padding-bottom: 25px

.button-wrapper_bot
  padding-top: 20px

.button-wrapper_top table.medium-button td
  background: #4572FF

.button-wrapper_bot table.medium-button td
  background: #4572FF

.white-bg
  background: #ffffff

.green-bg
  background #E7F8EC

.blue-bg
  background: #E2EBFF
  border-radius: 4px
  border: 1px solid #0090FB

.img-head
  width 480px
  padding-bottom 35px

.title-head
  font-family: Helvetica !important
  font-weight 700
  font-size: 40px
  color: #E55B5B
  letter-spacing: 0
  line-height 48px
  padding-top 23px

.text-head
  font-family: Helvetica !important
  font-size: 16px
  color: #454141
  letter-spacing: 0
  line-height: 22px
  padding-top 32px
  padding-bottom 25px
  @media screen and (max-width: 600px)
    padding-right 0 !important

.avatar-text
  font-family: Helvetica !important
  font-size: 18px
  font-weight 700
  color: #20242F
  letter-spacing: 0
  line-height: 27px

.black-text
  font-family: Helvetica !important
  font-size: 16px
  color: #2E3851
  // letter-spacing: 0
  line-height: 22px

.box-text
  font-family: Helvetica !important
  font-size: 14px
  color: #001F3D
  // letter-spacing: 0
  line-height: 20px

.block-link
  font-family: Helvetica !important
  font-size: 14px
  color: #2F72E4
  text-decoration: none
  text-transform uppercase
  // letter-spacing: 0
  line-height: 22px
  font-weight 700

.subtext
  font-family: Helvetica !important
  font-size: 10px
  color: #2E3851
  // letter-spacing: 0
  line-height: 24px

.block-text
  font-family: Helvetica !important
  font-size: 20px
  color: #2E3851
  // letter-spacing: 0
  line-height: 26px

.green-text
  font-family: Helvetica !important
  font-size: 30px
  color: #17AE4A
  // letter-spacing: 0
  line-height: 32px

.grey-text
  font-family: Helvetica !important
  font-size: 30px
  color: #576482
  // letter-spacing: 0
  line-height: 32px

.white-text
  font-family: Helvetica !important
  font-size: 16px
  color: #f3f6fb
  letter-spacing: 0
  line-height: 24px

.black-color
  color: #20242F

.text a
  color: #0081E3 !important

.subtitle-head
  font-family: Helvetica !important
  font-weight 700
  font-size: 20px
  color: #001F3D
  // letter-spacing: 0
  line-height 26px

.grey-number
  font-family: Helvetica !important
  font-size: 12px;
  color: #827d7d
  letter-spacing: 0;
  padding-bottom 14px
  line-height 14px

.big-text
  font-family: Helvetica !important
  font-weight 700
  font-size: 36px
  color: #2D323E
  letter-spacing: 0
  line-height 37px
  text-align center
  padding-bottom 15px
  @media screen and (max-width: 600px)
    padding-right 0 !important
    font-size: 28px !important
    line-height 33px !important

.title
  font-family: Helvetica !important
  font-weight 700
  font-size: 32px
  color: #d9dcf5
  letter-spacing: 0
  line-height 40px
  text-align center
  // padding-bottom 15px
  @media screen and (max-width: 600px)
    padding-right 0 !important
    font-size: 26px !important
    line-height 32px !important

.subtitle
  font-family: Helvetica !important
  font-weight 700
  font-size: 32px
  color: #001F3D
  // letter-spacing: 0
  line-height 36px
  text-align left
  @media screen and (max-width: 600px)
    font-size 24px !important
    line-height 32px !important

.grey-text
  font-family: Helvetica !important
  font-size: 16px
  color: #848499
  letter-spacing: 0
  line-height: 23px
  padding-right 144px
  @media screen and (max-width: 600px)
    padding-right 80 !important

.asset-text
  font-family: Helvetica !important
  font-size: 18px
  color: #2D323E
  letter-spacing: 0
  line-height: 22px
  text-align center

.pl15
  padding-left 15px
.pr10
  padding-right 10px

.pr100
  padding-right 100px

.big
  font-weight 700
.tournament-title
  font-family: Helvetica !important
  font-weight 700
  font-size: 26px
  color: #000000
  letter-spacing: 0
  line-height 34px

.tournament-name
  font-family: Helvetica !important
  font-weight 700
  font-size: 18px
  color: #1C253B
  letter-spacing: 0
  line-height: 26px
  word-break break-word
.tournament-data
  font-family: Helvetica !important
  font-weight 400 !important
  font-size: 14px
  color: #86888E
  letter-spacing: 0
  line-height: 34px

.tournament-forecast
  font-family: Helvetica !important
  font-weight 700
  font-size: 18px

  letter-spacing: 0
  line-height: 26px
  @media screen and (max-width: 600px)
    font-size: 16px !important
.forecast-red
  color: #EB164F !important
.forecast-green 
  color: #1FCC6A !important
.forecast-grey    
  color: #1c253b
.lh-17
  line-height 17px !important

.img-trflag
  width 44px !important
  float left
  padding-right 12px
  @media screen and (max-width: 600px)
    padding-bottom 20px !important

.text.bold
  font-weight: 700

.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  text-align: left
  line-height: 22px
  @media screen and (max-width: 600px)
    text-align center !important

.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  word-break break-word
  margin-right: 30px
  @media screen and (max-width: 600px)
    margin-right 0 !important
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: right
  float: none
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important

.custom-padding 
  white-space: nowrap
  padding-left 10px

.pb0
  padding-bottom: 0

.pb3
  padding-bottom: 3px

.pb4
  padding-bottom: 4px

.pb5
  padding-bottom: 5px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb11
  padding-bottom: 11px

.pb12
  padding-bottom: 12px !important

.pb13
  padding-bottom: 16px

.pb15
  padding-bottom: 15px

.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px
.pb22
  padding-bottom: 22px

.pb25
  padding-bottom: 25px

.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px
.pb33
  padding-bottom: 33px

.pb35
  padding-bottom: 35px

.pb38
  padding-bottom: 38px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px
.pb45
  padding-bottom: 45px
.pb48
  padding-bottom: 48px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb96
  padding-bottom: 96px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt8
  padding-top: 8px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt17
  padding-top: 17px

.pt25-a
  padding-top: 25px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt28
  padding-top: 28px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt33
  padding-top: 33px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt42
  padding-top: 42px


.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pl30
  padding-left 30px

.pl50
  padding-left: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.ml0
  margin-left 0
  @media screen and (max-width: 600px)
    margin-left 10px !important
.mr0
  margin-right 0
  @media screen and (max-width: 600px)
    margin-right 10px !important

.mlr5
  margin-left 5px
  margin-right 5px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 48px
  padding-right: 48px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0

.bg-col
  background-color #F3F6FB

.pad-title
  padding 0 8px 20px 31px
  @media screen and (max-width: 600px)
    padding 0 !important
    text-align center !important

.pl30
  padding-left 30px

.wh500
  width 500px

.pr100
  padding-right 108px

.pb33
  padding-bottom 33px !important

.socials
  display: inline-block
  font-size: 0
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50 !important
  letter-spacing: 0
  line-height: 22px
  text-align left
  @media screen and (max-width: 600px)
    text-align center !important

.pr50
  padding-right 50px !important

.pr30
  @media screen and (max-width: 600px)
    padding-right 30px !important

.social-links
  display: block
  text-align: center

.box
  width 152px
  display: inline-block
  float: none
  border-radius: 12px
  vertical-align: top
  background-color: #FEF4E5
  text-align left
  @media screen and (max-width: 600px)
    display block !important
    width 230px !important
    margin 10px auto 0 !important

.box.first-block
  @media screen and (max-width: 600px)
    margin 0px auto 0 !important

.bg-red
  background #FDF4F4
  background-size 20px

.bg-green
  background #EFF8F4
  background-size 20px

.bg-grey
  background #F3F6FB

.mb40
  margin-bottom 40px

.pt1
  padding-top 1px !important

.item-new
  font-family: Helvetica !important
  font-weight 700
  font-size: 19px;
  color: #454141;
  letter-spacing: 0;
  line-height: 29px
  clear: both !important
.pt13
  padding-top: 13px
.pl25
  padding-left 25px !important


.pr7
  padding-right 7px !important


.pr5
  padding-right 5px
  @media screen and (max-width: 600px)
    padding-right 0 !important


.pr55
  padding-right 55px
  @media screen and (max-width: 600px)
    padding-right 0 !important

.col-vhite
  color #FFFFFF !important
  font-weight 400 !important

.pr24
  padding-right 24px

.pr27
  padding-right 27

.fl-l
  float left
  @media screen and (max-width: 600px)
    float none !important
    margin 0 auto !important
    text-align center
.fl-r
  float right

.pta
  @media screen and (max-width: 600px)
    padding-top 20px !important
    display block !important
.cl-b
  clear both

.col-black
  color #000000 !important

.arr-bot-t
  width  15px !important
  padding-left 14px
  padding-bottom 23px
  padding-right 10px
  vertical-align: middle
  float none
  display: inline-block
.item-number 
  display: inline-block

.item-number-new
  font-family: Helvetica !important
  font-size: 14px;
  color: #454141;
  letter-spacing: 0;

.asset-arrow
  display inline-block
  width 6px !important
  padding-right 1px
  padding-bottom 2px
  float: none !important
  vertical-align: middle



.number-red
  color #E95F5F !important

.number-green
  color #22BA79 !important

.pt19
  padding-top 19px


.link
  color: #4882ff  

.green-but
  display inline-block
  background: #D4F1E2
  border-radius: 5px
  max-width 100%
  width 100%
  @media screen and (max-width: 600px)
    width 100% !important
    max-width 100% !important

.green-txt
  font-family: Helvetica !important
  font-weight 700
  text-transform uppercase
  font-size: 14px
  color: #4CCE89
  letter-spacing: 1px
  text-align: center
  line-height 16px
  padding 7px 0 
  display block
.red-but
  display inline-block
  background: #F9E4E4
  border-radius: 5px
  max-width 100%
  width 100%
  @media screen and (max-width: 600px)
    width 100% !important
    max-width 100% !important

.red-txt
  font-family: Helvetica !important
  font-weight 700
  text-transform uppercase
  font-size: 14px
  color: #E95F5F
  letter-spacing: 1px
  text-align: center
  line-height 16px
  padding 7px 0 
  display block
.padding
  padding 14px 20px

.mar-mob
  margin 0 10px

.h-20
  font-size 8px
  line-height 20px
  height 20px

.div-butt
  display inline-block
  width 148px
  background #0081E3
  border-radius: 5px
  @media screen and (max-width: 600px)
    display block !important
    width 100% !important
    margin-bottom 20px !important

.center-block 
  margin: 0 10px
  @media screen and (max-width: 600px)
    display block !important
    width 100% !important
    margin: 0px 0px 20px 0px !important   

.butt-p
  color #ffffff
  font-size 12px !important
  font-weight 700 !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 16px 2px !important
  font-family: Helvetica !important
  text-align center !important

.green-span
  display inline-block
  font-family: Helvetica !important
  color: #2D323E
  padding: 6px 15px
  background #7FE589
  border-radius: 55px

.blue-span
  display inline-block
  font-family: Helvetica !important
  color: #ffffff
  padding: 6px 15px
  background #0090FB
  border-radius: 55px

.yellow-span
  color #FFBC58

.pink-span
  display inline-block
  font-family: Helvetica !important
  color: #ffffff
  padding: 6px 15px
  background #9B74FF
  border-radius: 55px

.black-span
  display inline-block
  font-family: Helvetica !important
  color: #00DE3F
  padding: 6px 15px
  background #2D323E
  border-radius: 55px

.event-span
  display inline-block
  font-family: Helvetica !important
  color: #2D323E
  padding: 6px 15px
  background #FE956B
  border-radius: 55px

.price-span
  display inline-block
  font-family: Helvetica !important
  font-size: 16px !important
  line-height 22px

.green-price
  color #13CA72 !important

.red-price 
  color #E95F5F !important

.big-price
  font-family: Helvetica !important
  font-size: 22px
  line-height: 26px
  padding-bottom 5px
  font-weight 700

.price-text
  font-family: Helvetica !important
  font-size: 15px
  line-height: 20px

.left-block
  width: 234px
  display inline-block
  vertical-align: middle
  float left
  background #F2F6FF
  border-radius: 12px
  min-height: 233px
  @media screen and (max-width: 600px)
    display block !important
    float: none !important
    margin: 0 auto 12px !important
    min-height: auto !important
    // width 100% !important

.right-block
  width: 234px
  display inline-block
  vertical-align: middle
  float right
  background #F2F6FF
  border-radius: 12px
  min-height: 233px
  @media screen and (max-width: 600px)
    display block !important
    float: none !important
    margin 0 auto !important
    min-height: auto !important
    // width 100% !important

.left-box
  width: 285px
  display inline-block
  vertical-align: middle
  float left
  border-radius: 10px
  background #ffffff
  min-height: 380px
  @media screen and (max-width: 600px)
    min-height: auto !important
    display block !important
    float: none !important
    margin: 0 auto 15px !important
    // width 100% !important

.right-box
  width: 285px
  display inline-block
  vertical-align: middle
  float right
  border-radius: 10px
  background #ffffff
  min-height: 380px
  @media screen and (max-width: 600px)
    min-height: auto !important
    display block !important
    float: none !important
    margin 0 auto !important
    // width 100% !important

.btn-img
  width 100% !important
  max-width 480px !important
  float none !important
  margin 0 auto !important

.date-text
  color #495166
  font-size 14px
  line-height 18px 
  font-family Helvetica !important

.event-text
  color #1C253B
  font-size 18px
  line-height 24px
  font-weight 700
  font-family Helvetica !important

.stor
  width 361px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important

.a-app
  display inline-block
  padding-right 20px
  max-width 155px
  height 52px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    padding-right 0 !important
    float none !important
    margin-bottom 15px
    margin 0 auto !important
    padding-bottom 15px !important

.a-google
  display inline-block
  max-width 175px
  height 52px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align left
  @media screen and (max-width: 600px)
    text-align center !important

  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none !important
  max-width: 24px


.blue-link
  display block
  font-size 14px
  line-height 16px
  font-weight 700
  text-transform uppercase
  text-decoration none !important
  color #4882FF !important
  text-align center !important

.asset-bg
  display inline-block
  // padding-left 25px
  // background-size 20px !important


  
.new-icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica','Arial',sans-serif !important; 
  max-width: 20px; 
  outline: none; 
  padding-right: 5px; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;
  padding-bottom 2px

.block-img
  width 100% !important
  max-width: 230px !important
  float: none !important
  padding-bottom 4px

.right-img
  width: 29px !important
  float: none !important

.butt-td
  background-color: #01C689
  height: 55px
  border-radius: 5px

.butt-text
  font-size 14px
  line-height 55px
  color: #ffffff
  font-weight 700
  display block
  text-align center
  text-transform uppercase

.butt-text-2
  font-size 14px
  line-height 19px
  padding: 18px 0
  color: #ffffff
  font-weight 700
  display block
  text-align center
  text-transform uppercase

.w290
  width 100%
  max-width 290px
  @media screen and (max-width: 600px)
    max-width: 100% !important

.w420
  width 100%
  max-width 420px
  @media screen and (max-width: 600px)
    max-width: 100% !important

.w580
  width 100%
  max-width 580px
  @media screen and (max-width: 600px)
    max-width: 100% !important

table[class="body"] img.img-logo
  @media screen and (max-width: 600px)
    width: 100% !important
    max-width 374px !important


.first-link
  margin-left 0
  @media screen and (max-width: 600px)
    margin-left 10px !important

.arrow-icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica',sans-serif !important; 
  max-width: 14px; 
  outline: none; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;
  padding-right 8px
  padding-bottom 3px

.icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica',sans-serif !important; 
  max-width: 22px; 
  outline: none; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;

.block-icon
  display: block; 
  float: none; 
  max-width: 26px; 
  outline: none; 
  width: auto;
  // margin 0 auto

.article-img
  border: none; 
  display: block; 
  float: none; 
  max-width: 274px; 
  outline: none; 
  width: auto;
  margin: 0 auto

.link-icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica',sans-serif !important; 
  max-width: 6px; 
  outline: none; 
  padding-left: 6px; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;
  padding-bottom 2px

.box-icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica',sans-serif !important; 
  max-width: 22px; 
  outline: none; 
  // padding-right: 5px; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;
  // padding-bottom 2px  

.avatar-icon
  -ms-interpolation-mode: bicubic; 
  border: none; 
  clear: both; 
  display: inline-block; 
  float: none; 
  font-family: 'Helvetica','Arial',sans-serif !important; 
  max-width: 27px; 
  outline: none; 
  padding-right: 5px; 
  text-decoration: none; 
  vertical-align: middle; 
  width: auto;
  padding-bottom 2px

.green-hr
  height: 2px
  background-color: #18B44D !important
  margin 0 !important

.grey-hr
  height 2px
  background-color #838EA8 !important
  margin 0 !important

.block-padding
  padding 16px 12px 20px

.bg-green
  background-color: #E6F8E8
  padding 4px 7px
  font-size: 12px
  font-weight 700
  color: #17AE4A
  text-transform uppercase
  border-radius: 3px

.bg-grey
  background-color: #E9EDF3
  padding 4px 7px
  font-size: 12px
  font-weight 700
  color: #848EA8
  text-transform uppercase
  border-radius: 3px

.h8 
  font-size 6px !important
  line-height 8px !important
  height 8px !important

.pt360
  padding-top 360px
  @media screen and (max-width: 500px)
    padding-top 300px !important

.padding-box
  padding 16px 20px

.padding-img
  padding 4px 5px

.padding-card
  padding 15px 20px 20px

.list
  padding-left: 18px
  background: url('https://fsms.iqoption.com/storage/public/cf/do/u9o1ik12ji7mngl0/job-dot.png') left top 5px no-repeat
  background-size 11px