*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important


body
  margin: 0 auto !important
  text-align: center !important

table.row.header
  background #f2f3f5
  height: 86px

.img-logo
  width 333px
  padding-bottom 64px

.back-bot
  background: #F7F9FF
  border: 1px solid #4572FF
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

.article-forex
  background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7bf0dae7e2h0a1d0/forex.png') right 50px center no-repeat
  background-size: 90px
  @media screen and (max-width: 630px)
    background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7bf0dae7e2h0a1d0/forex.png') right 20px center no-repeat !important
    background-size: 60px !important

.pr60
  padding-right 60px !important

.article-stocks
  background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7befb0d7e6f1a6g8/stocks.png') right 50px center no-repeat
  background-size: 90px
  @media screen and (max-width: 630px)
    background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7befb0d7e6f1a6g8/stocks.png') right 20px center no-repeat !important
    background-size: 60px !important

.bg-article-crypto
  background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7c247599f2i3h5c1/crypto.png') right 50px center no-repeat
  background-size: 90px
  @media screen and (max-width: 630px)
    background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7c247599f2i3h5c1/crypto.png') right 20px center no-repeat !important
    background-size: 60px !important

.article-commodities
  background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7bebed52e0c1b2a6/commodities.png') right 50px center no-repeat
  background-size: 90px
  @media screen and (max-width: 630px)
    background: #ffffff url('https://static.cdnroute.io/files/storage/public/62/53/ec7bebed52e0c1b2a6/commodities.png') right 20px center no-repeat !important
    background-size: 60px !important

.brad-full
  border-radius 10px !important

.brad-top
  border-radius 10px 10px 0 0!important

.brad-bot
  border-radius 0 0 10px 10px!important

table.body
  background: #F1F2F5

.text-pad-small
  @media screen and (max-width: 630px)
    padding-left: 20px !important
    padding-right: 20px !important
  
.mob-pad-head 
  @media screen and (max-width: 630px)
    padding-left: 10px !important
    padding-right: 10px !important

.text-pad-small-right
  @media screen and (max-width: 630px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.logo
  float: none
  max-width 131px

.footer
  background #F1F2F5
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px solid #f1f5f8


table.medium-button td
  background: #E0E8FF
  border-radius: 3px !important

.butt
  color #ffffff
  font-size 16px !important
  font-weight 600 !important
  letter-spacing: -.25px !important
  padding: 17px 0 !important
  text-align center !important
  margin 0 !important
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 630px)
    padding-left: 30px !important
    padding-right: 30px !important

.button-wrapper_top
  padding-top: 0
  padding-bottom: 25px

.button-wrapper_bot
  padding-top: 20px

.button-wrapper_top table.medium-button td
  background: #4572FF

.button-wrapper_bot table.medium-button td
  background: #4572FF

.white-bg
  background: #ffffff

.blue-bg
  background: #f8fbff

.img-head
  width 480px
  padding-bottom 35px

.title-head
  font-family: Helvetica !important
  font-weight 700
  font-size: 42px
  color: #293753
  letter-spacing: 0
  line-height 50px
  // padding-top 23px
  @media screen and (max-width: 630px)
    font-size 32px !important
    line-height 40px !important

  @media screen and (max-width: 500px)
    font-size 28px !important
    line-height 36px !important

.text-head
  font-family: Helvetica !important
  font-size: 16px
  color: #262832
  letter-spacing: 0
  text-align left
  line-height: 24px
  padding-top 14px
  padding-bottom 14px 
  @media screen and (max-width: 630px)
    padding-right 0 !important

.text
  font-family: Helvetica !important
  font-size: 16px
  color: #262832
  letter-spacing: 0
  text-align left
  line-height: 24px

.subtitle-head
  font-family: Helvetica !important
  font-weight 700
  font-size: 21px
  color: #262832
  letter-spacing: 0
  line-height 24px
  padding-bottom 24px

.grey-number
  font-family: Helvetica !important
  font-size: 12px;
  color: #827d7d
  letter-spacing: 0;
  padding-bottom 14px
  line-height 14px

.big-text
  font-family: Helvetica !important
  font-weight 700
  font-size: 32px
  color: #334C72
  letter-spacing: 0
  line-height 37px
  padding-right 50px
  padding-bottom 7px
  @media screen and (max-width: 630px)
    padding-right 0 !important
    font-size: 28px !important
    line-height 33px !important

.grey-text
  font-family: Helvetica !important
  font-size: 16px
  color: #848499
  letter-spacing: 0
  line-height: 23px
  padding-right 144px
  @media screen and (max-width: 630px)
    padding-right 80 !important

.pr10
  padding-right 10px

.pr100
  padding-right 100px

.big
  font-weight 700
.tournament-title
  font-family: Helvetica !important
  font-weight 700
  font-size: 26px
  color: #000000
  letter-spacing: 0
  line-height 34px

.tournament-name
  font-family: Helvetica !important
  font-weight 700
  font-size: 18px
  color: #1C253B
  letter-spacing: 0
  line-height: 26px
  word-break break-word
.tournament-data
  font-family: Helvetica !important
  font-weight 400 !important
  font-size: 14px
  color: #86888E
  letter-spacing: 0
  line-height: 34px

.tournament-forecast
  font-family: Helvetica !important
  font-weight 700
  font-size: 18px

  letter-spacing: 0
  line-height: 26px
  @media screen and (max-width: 630px)
    font-size: 16px !important
.forecast-red
  color: #EB164F
.forecast-green 
  color: #1FCC6A
.forecast-grey    
  color: #1c253b
.lh-17
  line-height 17px !important

.tournament-flag
  background: url('https://static.cdnpub.info/files/storage/public/60/05/86b041f1b0e3d8b8i7/jpu.png') left top  no-repeat
  background-size: 44px
  padding-left 60px
  padding-top 5px
  padding-bottom 8px

.img-trflag
  width 44px !important
  float left
  padding-right 12px
  @media screen and (max-width: 630px)
    padding-bottom 20px !important

.text.bold
  font-weight: 700

.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  text-align: left
  line-height: 22px


.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  word-break break-word
  @media screen and (max-width: 630px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 630px)
    display: block !important
    text-align: center !important
    float: none !important

.pb0
  padding-bottom: 0

.pb3
  padding-bottom: 3px

.pb4
  padding-bottom: 4px

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px

.pb10
  padding-bottom: 10px

.pb11
  padding-bottom: 11px

.pb12
  padding-bottom: 12px !important

.pb13
  padding-bottom: 16px

.pb15
  padding-bottom: 15px

.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px
.pb22
  padding-bottom: 22px

.pb25
  padding-bottom: 25px

.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px
.pb33
  padding-bottom: 33px

.pb35
  padding-bottom: 35px

.pb38
  padding-bottom: 38px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px
.pb48
  padding-bottom: 48px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb96
  padding-bottom: 96px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt17
  padding-top: 17px

.pt25-a
  padding-top: 25px
  @media screen and (max-width: 630px)
    padding-top: 0 !important

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt28
  padding-top: 28px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt33
  padding-top: 33px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt42
  padding-top: 42px


.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pl30
  padding-left 30px

.pl50
  padding-left: 50px
  @media screen and (max-width: 630px)
    padding-left: 20px !important

.ml0
  margin-left 0
  @media screen and (max-width: 630px)
    margin-left 10px !important
.mr0
  margin-right 0
  @media screen and (max-width: 630px)
    margin-right 10px !important

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 630px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr20
  padding-left: 20px
  padding-right: 20px
  @media screen and (max-width: 630px)
    padding-left: 16px !important
    padding-right: 16px !important

.plr24
  padding-left: 24px
  padding-right: 24px
  @media screen and (max-width: 630px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 50px
  padding-right: 50px
  @media screen and (max-width: 630px)
    padding-left: 20px !important
    padding-right: 20px !important

.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0

.bg-col
  background-color #F5F9FF

// .right-block
//   display inline
//   float: right
//   width: 15%

.pad-title
  padding 0 8px 20px 31px
  @media screen and (max-width: 630px)
    padding 0 !important
    text-align center !important

.pl30
  padding-left 30px

.wh500
  width 500px

.pr100
  padding-right 108px

.pb33
  padding-bottom 33px !important

.socials
  display: inline-block
  font-size: 0
  margin 0 auto
  @media screen and (max-width: 630px)
    width 100% !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 630px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 40px

.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50 !important
  letter-spacing: 0
  line-height: 22px
  text-align left
  padding-bottom 20px

.pr50
  padding-right 50px !important

.pr30
  @media screen and (max-width: 630px)
    padding-right 30px !important

.social-links
  display: block
  text-align: center

.countries-block-new
  width 148px
  display: inline-block
  float: none
  border-radius: 9px
  @media screen and (max-width: 630px)
    margin-top 10px !important

.bg-red
  background #FDF4F4
  background-size 20px

.bg-green
  background #EFF8F4
  background-size 20px

.mb40
  margin-bottom 40px

.pt1
  padding-top 1px !important

.item-new
  font-family: Helvetica !important
  font-weight 700
  font-size: 19px;
  color: #454141;
  letter-spacing: 0;
  line-height: 29px
  clear: both !important
.pt13
  padding-top: 13px
.pl25
  padding-left 25px !important
.pl10
  padding-left 10px 
  // @media screen and (max-width: 630px)
  //   padding-left 0px !important
.pl18
  padding-left 18px
  @media screen and (max-width: 630px)
    padding-left 10px !important
.pl20
  padding-left 20px !important
.pr20
  padding-right 20px !important

.pr7
  padding-right 7px !important
.img-forex-one
  background: url('https://static.cdnroute.io/files/storage/public/62/2f/1dc320a884e5f3b7d2/USD_JPY.png') left top 5px no-repeat
  background-size 25px !important
.img-forex-two
  background: url('https://static.cdnroute.io/files/storage/public/60/61/b96f974d22a0e4g8j0/AUD_NZD.png') left top 5px no-repeat
  background-size 25px !important
.img-forex-three
  background: url('https://static.cdnroute.io/files/storage/public/60/05/8357547cb2h9i7g3c6/EUR_USD.png') left top 5px no-repeat
  background-size 25px !important
.img-commodities-silver
  background: url('https://static.cdnpub.info/files/storage/public/5f/7b/1c76c83d60e1a7e4b0/silver.png') left top 5px no-repeat
  background-size 25px !important
.img-commodities-gold
  background: url('https://static.cdnpub.info/files/storage/public/5f/7b/1c76bc64b8d9f7d5i7/Gold.png') left top 5px no-repeat
  background-size 25px !important
.img-commodities-wti
  background: url('https://static.cdnpub.info/files/storage/public/5f/7b/1c7690bba3b7d1g3a5/WTI.png') left top 5px no-repeat
  background-size 25px !important
.img-commodities-brent
  background: url('https://static.cdnroute.io/files/storage/public/5f/7b/1c76a34ac7c2h4d7c1/Brent.png') left top 5px no-repeat
  background-size 25px !important
.img-card-top
  background: url('https://static.cdnpub.info/files/storage/public/60/61/d11a8cb429c6h2h3h0/red.png') left top 5px no-repeat
  background-size 25px !important
.img-card-bot
  background: url('https://static.cdnpub.info/files/storage/public/60/61/d11a5a3f00g9e0b7j7/green.png') left top 5px no-repeat
  background-size 25px !important

.img-card-bitok
  background: url('https://static.cdnpub.info/files/storage/public/60/74/55e5eb5244f5h2f4f8/b_1.png') left top 5px no-repeat
  background-size 25px !important

.green-number
  font-family: Helvetica !important
  font-size: 14px
  color: #1FCC6A
  letter-spacing: 0
  background: url('https://static.cdnpub.info/files/storage/public/5f/77/3191f079f0g8b3h9j0/Fill_1.png') left top 6px no-repeat
  background-size: 6.3px
  padding-left 10px
  margin-left 8px

.red-number
  font-family: Helvetica !important
  font-size: 14px
  color: #EB164F
  letter-spacing: 0
  background: url('https://static.cdnpub.info/files/storage/public/5f/7a/da2af178c7c6d5i0i7/Fill_2__1_.png') left top 6px no-repeat
  background-size: 6.3px
  padding-left 10px
  margin-left 8px

.pr5
  padding-right 5px
  @media screen and (max-width: 630px)
    padding-right 0 !important


.pr55
  padding-right 55px
  @media screen and (max-width: 630px)
    padding-right 0 !important

.col-vhite
  color #FFFFFF !important
  font-weight 400 !important

.pr24
  padding-right 24px

.pr27
  padding-right 27

.fl-l
  float left
  @media screen and (max-width: 630px)
    float none !important
    margin 0 auto !important
    text-align center
.fl-r
  float right

.pta
  @media screen and (max-width: 630px)
    padding-top 20px !important
    display block !important
.cl-b
  clear both

.col-black
  color #000000 !important

.arr-bot-t
  width  15px !important
  padding-left 14px
  padding-bottom 23px
  padding-right 10px
  vertical-align: middle
  float none
  display: inline-block
.item-number 
  display: inline-block

.item-number-new
  font-family: Helvetica !important
  font-size: 14px;
  color: #454141;
  letter-spacing: 0;


.asset-img 
  display inline-block
  width 31px !important
  padding-right 8px
.arr-bot
  background: url('https://static.cdnpub.info/files/storage/public/60/61/edf8dd6033j4g4i8b6/bott.png') right 4px top 18px no-repeat
  background-size 13px !important
  padding-right 15px

.arr-top
  background: url('https://static.cdnpub.info/files/storage/public/60/61/edf8e6fb63f6a6i0g1/TOP.png') right 4px top 18px no-repeat
  background-size 13px !important
  padding-right 15px

.number-red
  color #E95F5F !important

.number-green
  color #22BA79 !important

.pt19
  padding-top 19px
//https://static.cdnroute.io/files/storage/public/60/05/86b041f1b0e3d8b8i7/jpu.png  
//https://static.cdnroute.io/files/storage/public/5f/fc/55872eb8f8a6d0f8g2/USD.png
.events-flag
  background: url('https://static.cdnroute.io/files/storage/public/5f/fc/55872eb8f8a6d0f8g2/USD.png') left top  no-repeat
  background-size: 44px
  padding-left 60px
  padding-top 5px
  padding-bottom 8px

.link
  color: #4882ff  

.green-but
  display inline-block
  background: #D4F1E2
  border-radius: 5px
  max-width 100%
  width 100%
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important

.green-txt
  font-family: Helvetica !important
  font-weight 700
  text-transform uppercase
  font-size: 14px
  color: #4CCE89
  letter-spacing: 1px
  text-align: center
  line-height 16px
  padding 7px 0 
  display block
.red-but
  display inline-block
  background: #F9E4E4
  border-radius: 5px
  max-width 100%
  width 100%
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important

.red-txt
  font-family: Helvetica !important
  font-weight 700
  text-transform uppercase
  font-size: 14px
  color: #E95F5F
  letter-spacing: 1px
  text-align: center
  line-height 16px
  padding 7px 0 
  display block
.padding
  padding 14px

.mar-mob
  margin 0 10px





// my style (Egor V.)

.v-middle 
  vertical-align middle

.w100 
  width 100%
  max-width 100%

.w98
  width 98%
  max-width 98%

.max-w269
  width 100%
  max-width 269px
  
.max-w480 
  max-width 480px
  @media screen and (max-width: 630px)      
    width 100% !important
    max-width: 100% !important

.max-w520
  max-width 520px

.max-w540
  max-width 540px

.max-w580
  max-width 580px

.max-w620
  max-width 620px

.invest-link
  font-family Helvetica !important
  font-size 16px
  line-height 24px
  vertical-align middle
  color #00589E
  font-weight 600

.arrow 
  width 100%
  max-width 18px

.spec-arr 
  padding-bottom 4px
  font-size 19px 
  color #00589E
  display block
  vertical-align middle
//background-image url('https://static.cdnroute.io/files/storage/public/62/c4/1e47085667h3a3j6g9/banner_1.png')
.bg-exnova
  background-repeat no-repeat
  background-size 600px auto
  background-position 20px 30px 
  @media screen and (max-width: 700px)      
    background-size contain !important
    background-position 0px 20px !important

.title-span-blue
  color #00589E

.title-span-blue-2
  color #299EF6

.title-span-green 
  color #22BB72


.table-btn
  width 100%
  max-width 230px 

.td-btn
  height 50px;
  
.blue-btn
  background-color #0081E3

.green-btn
  background-color #3DBB7F

.text-btn
  font-family Helvetica !important
  font-size 16px
  color #ffffff
  font-weight 600
  letter-spacing 0
  line-height 50px

.first-pic 
  width 269px
  margin 0 auto 
   
.subtitle-span-blue
  color #0081E3 


.subtitle-text 
  font-family Helvetica !important
  font-size 32px
  color #293753
  font-weight 700
  letter-spacing 0
  line-height 38px
  padding-bottom 18px
  text-align left
  @media screen and (max-width: 630px)      
    font-size 26px !important
    line-height 34px !important
  @media screen and (max-width: 500px)
    font-size 24px !important
    line-height 32px !important

.item-text 
  font-family Helvetica !important
  font-size 16px
  color #293753
  font-weight 400
  letter-spacing 0
  line-height 24px
  padding-bottom 20px
  @media screen and (max-width: 630px)      
    padding-top 0px !important
    margin 0 20px !important

.try-table
  @media screen and (max-width: 630px)      
    padding-bottom 30px !important
    margin 0 20px !important


.try-link
  font-family Helvetica !important
  font-size 14px
  line-height 18px
  font-weight 700
  vertical-align middle
  color #0081E3
  text-transform uppercase
  display block

// .td-violet 
//   background-color #E2EBFF
//   padding-left 30px
//   padding-right 30px
//   padding-bottom 0px
//   @media screen and (max-width: 630px)      
//     width 100% !important
//     padding 0px !important
//     height auto !important

.td-violet
  background-color #F0F5FF
  vertical-align top

.h-card
  min-height 281px
  height 281px
  @media screen and (max-width: 630px)      
    min-height: 100% !important
    height: 100% !important

.td-blue
  background-color #488BEE
  @media screen and (max-width: 630px)      
    width 100% !important

.td-green
  background-color #E4F3EA

.div-offset-8
  height 8px
  line-height 8px
  font-size 6px

.div-offset-10
  height 10px
  line-height 10px
  font-size 8px

.div-offset-16
  height 16px
  line-height 16px
  font-size 8px

.div-offset-20
  height 20px
  line-height 20px
  font-size 8px

.div-offset-25
  height 25px
  line-height 25px
  font-size 8px

.div-offset-30
  height 30px
  line-height 30px
  font-size 8px

.div-offset-35
  height 35px
  line-height 35px 
  font-size 8px

.div-offset-40
  height 40px
  line-height 40px
  font-size 8px
.mob-p0 
  @media screen and (max-width: 630px)
    padding-bottom 0 !important     
.div-offset-49-spec
  height 49px
  line-height 49px
  font-size 8px
  @media screen and (max-width: 630px)      
    height 20px !important 
    line-height 20px !important
    font-size 8px !important

.div-offset-50 
  height 50px
  line-height 50px
  font-size 8px

.div-offset-60
  height 60px
  line-height 60px
  font-style 8px
  @media screen and (max-width: 630px)      
    height 0 !important 
    line-height 0 !important
    font-size 0 !important
.div-offset-70
  height 70px
  line-height 70px
  font-style 8px

.video-banner 
  width 100%
  max-width 480px

.white-text
  color #ffffff !important

.black-text
  color #000000 !important

.card 
  display inline-block
  width 100%
  max-width 144px
  background #F0F5FF
  vertical-align top
  @media screen and (max-width: 630px)
    display block !important
    width 100% !important
    max-width 144px !important

.icon-card
  width 100%
  max-width 36px

.icon-card-2
  width 100%
  max-width 72px

.icon-card-3
  width 100%
  max-width 50px
  box-shadow: 8.20931px 12.314px 17.7868px rgba(0, 0, 0, 0.09)

.center-box
  display inline-block
  width 100%
  max-width 182px
  vertical-align top
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important


.card-2
  display inline-block
  width 100%
  max-width 230px
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important

.card-img
  width 100%
  max-width 50px

.card-title
  font-family Helvetica !important
  font-size 32px
  color #3E414B
  font-weight 700
  letter-spacing 0
  line-height 38px
  text-align left
  @media screen and (max-width: 630px)
    font-size 28px !important
    line-height 34px !important

.mob-p0
  @media screen and (max-width: 630px)
    padding-bottom 0px !important
.min-h310
  min-height: 310px
  @media screen and (max-width: 630px)
    min-height: auto !important
.card-text
  font-family Helvetica !important
  font-size 16px
  color #3E414B
  font-weight 400
  letter-spacing 0
  line-height 18px
  padding-bottom 5px
  text-align left
  @media screen and (max-width: 630px)
    padding-bottom 5px !important

.card-text-2
  font-family Helvetica !important
  font-size 14px
  color #3E414B
  font-weight 400
  letter-spacing 0
  line-height 18px
  text-align left

.terms
  text-align center
  font-size 14px
  color #474A50
  letter-spacing: 0
  line-height: 22px
  margin 0 30px 0 0 !important


.block 
  display inline-block
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important
    display block !important
    float none !important

.pt0 
  padding-top 0 !important

.w269
  max-width 269px
  width 100%
  vertical-align middle
  float left

.left-block
  display inline-block
  float left
  vertical-align top
  width 100%
  max-width 231px
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important
    display block !important
    float none !important
    padding-bottom 25px !important

.right-block
  display inline-block
  float right
  vertical-align top
  width 100%
  max-width 231px
  @media screen and (max-width: 630px)
    width 100% !important
    max-width 100% !important
    display block !important
    float none !important

.w311
  max-width 311px 
  width 100%
  vertical-align middle
  float right
  

.own-container
  display inline-block
  vertical-align top
  width 270px
  float left
  @media screen and (max-width: 630px)
    width 100% !important
    float none !important

.max-w100
  @media screen and (max-width: 630px)
    max-width: 100%

.box
  display inline-block
  width 144px
  vertical-align top 
  @media screen and (max-width: 630px)
    width 100% !important
    display block !important

.main-banner
  width 100%
  // max-width 640px
  padding-top 60px
  padding-left 20px
  

.pbbg
  padding-bottom 270px
  @media screen and (max-width: 630px)
    padding-bottom 230px !important

  @media screen and (max-width: 520px)
    padding-bottom 180px !important

  @media screen and (max-width: 420px)
    padding-bottom 130px !important






  






 
