*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vam
  vertical-align middle !important


.butt-td
  padding: 0 !important

body
  margin: 0 auto !important
  text-align: center !important

table.body
  background: #F5F5F5
  
.white-bg
  background: #ffffff

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.bb
  border-bottom: 2px solid #EAEBEE

.nopoint
  cursor: default !important

.bgr
  background: #203558 url('https://static.cdnpub.info/files/storage/public/5c/b8/86f4042b30i2f2h4i7/bg.png') center top no-repeat
  background-size: cover
  height: 384px
  min-height: 384px
  @media screen and (max-width: 600px)
    height: auto !important

.logo
  float: none
  max-width 129px
  height: 19px
  padding-left: 0
  padding-top: 7px
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.header-soc
  float: right
  @media screen and (max-width: 600px)
    padding-right: 20px !important
  a
    display: inline-block
    margin-left: 20px
    @media screen and (max-width: 600px)
      margin-left: 15px !important

.ig
  max-width: 15px
  float: none
.tw
  max-width: 19px
  float: none
.yt
  max-width: 22px
  float: none
.fb
  max-width: 15px
  float: none

.subtitle
  color: #FFFFFF
  font-size: 18px
  line-height: 24px
  font-weight: 400
  letter-spacing: 1px
  text-transform: uppercase
  font-family: Helvetica !important
  padding-bottom: 3px
  @media screen and (max-width: 600px)
    text-shadow: 0 0 10px #203558 !important

.title
  color: #FE4547
  font-size: 34px
  line-height: 48px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 30px !important
    line-height: 38px !important

.black-title
  color: #2A3554
  font-size: 40px
  line-height: 48px

.text
  font-family: Helvetica !important
  color #2A3554
  font-size 16px
  font-weight 400
  line-height 24px

.text a
  color: #213E8F
  font-weight: 700
  font-family: Helvetica !important

.step
  color: #FE4547
  font-size: 14px
  line-height: 24px
  font-weight: 700
  letter-spacing: 1px
  font-family: Helvetica !important
  text-transform: uppercase
  padding-bottom: 4px

.white-text
  color: #FFFFFF
  font-size: 18px
  line-height: 24px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-shadow: 0 0 10px #203558 !important

.blue-title
  color: #213E90
  font-size: 14px
  line-height: 24px
  font-weight: 700
  font-family: Helvetica !important
  letter-spacing: 1px
  text-transform: uppercase

.list
  font-size: 16px
  padding-left: 16px
  background: url('https://static.cdnpub.info/files/storage/public/5c/62/c82e55576/dot.png') top 11px left no-repeat
  -webkit-background-size: 5px
  background-size: 5px
  padding-bottom: 10px
  
.bid-green
  color: #02AF45
  font-family: Helvetica !important
  font-weight: 700
  text-transform: uppercase

.bid-red
  color: #E93B2A
  font-family: Helvetica !important
  font-weight: 700
  text-transform: uppercase

.bid-up, .bid-down
  float: none
  display: inline-block
  vertical-align: text-top
  max-width: 40px
  margin-right: 7px
  margin-left: 4px

.small-text
  color: #5C6378
  font-size: 12px
  line-height: 20px
  font-weight: 400
  font-family: Helvetica !important

.bold-text
  color: #2A3554
  font-size: 16px
  line-height: 22px
  font-family: Helvetica !important
  
span.red
  color: #FE4547
  font-weight: 700
  font-family: Helvetica !important

.big-text
  color: #2A3554
  font-size: 24px
  line-height: 26px
  font-weight: 700
  font-family: Helvetica !important

.small-title
  color: #2A3554
  font-size: 24px
  line-height: 30px
  font-weight: 700
  font-family: Helvetica !important

.gif
  float: none
  min-height: 200px

.items
  text-align: center
  overflow: hidden

.item
  width: 231px
  border-radius: 5px
  display: block
  padding: 23px 40px 21px 80px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin-bottom: 20px

.item_1, .item_3
  float: left
  @media screen and (max-width: 600px)
    float: none !important
    margin: 0 auto 20px !important

.item_2, .item_4
  float: right
  @media screen and (max-width: 600px)
    float: none !important
    margin: 0 auto 20px !important

.item_1
  background: #F4F6FD url('https://static.cdnpub.info/files/storage/public/5c/75/0a1e2cd3b/icon1.png') left 22px center no-repeat
  -webkit-background-size: 32px
  background-size: 32px

.item_2
  background: #F4F6FD url('https://static.cdnpub.info/files/storage/public/5c/75/0a1e4c6f8/icon2.png') left 24px center no-repeat
  -webkit-background-size: 24px
  background-size: 24px

.item_3
  background: #F4F6FD url('https://static.cdnpub.info/files/storage/public/5c/75/0a1e4e635/icon3.png') left 30px center no-repeat
  -webkit-background-size: 21px
  background-size: 21px

.item_4
  background: #F4F6FD url('https://static.cdnpub.info/files/storage/public/5c/75/0a1e5761a/icon4.png') left 27px center no-repeat
  -webkit-background-size: 24px
  background-size: 24px


.item-text
  color: #2A3554
  font-size: 18px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important

.center-small
  @media screen and (max-width: 600px)
    text-align: center !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

table.medium-button td
  background: #FE4547
  border-radius: 3px !important

.butt
  color #ffffff
  font-size 14px !important
  font-weight 700 !important
  border-radius: 3px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 18px 0 17px !important
  font-family: Helvetica !important

.left-side
  display: inline-block
  width: 60%
  max-width: 280px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    max-width: 100% !important
    display: block !important

.right-side
  display: inline-block
  width: 40%
  padding-left: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    display: block !important
    padding-left: 0 !important
    padding-top: 20px !important

.grey-block
  background: #EDF0F7
  border-radius: 5px
  padding: 20px

.block-title
  color: #2A3554
  font-size: 20px
  line-height: 26px
  font-family: Helvetica !important
  font-weight: 700

.block-text
  color: #2A3554
  font-size: 14px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important
  a
    color: #213E8F
    font-family: Helvetica !important
    text-decoration: underline

.list-block
  overflow: hidden

.left-list
  float: left
  width: 40%
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-left: 20px !important

.right-list
  float: left
  width: 60%
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-left: 20px !important

p.warning
  text-align: left
  color: #7E859A !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  padding-bottom: 15px
  font-weight: 400

p.warning .upper
  color #525D78
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 8px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #7E859A !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400
  text-align: center

.subscribe
  text-align: left !important
  padding-top: 20px

.mobile-paddding
  padding: 25px 50px 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

a.left
  color: #7E859A
  font-weight: 400
  display: inline-block
  text-align: left
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #7E859A
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important


.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl15
  padding-left: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important

.pr30
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-right: 0 !important