doctype html
html(xmlns="http://www.w3.org/1999/xhtml")

    include ../../../../vendor/helpers/mixins
    include ../../../../vendor/helpers/head
    body
        include helpers/preheader
        table.overbody
            tr
                td.center
                    table.body
                        tr
                            td(align="center", valign="top").center.pb50
                                center
                                    table.container
                                        tr
                                            td
                                                include blocks/header
                                                include blocks/third
                                                include helpers/footer
                    //- table.body
                    //-     tr
                    //-         td(align="center", valign="top").center.pb50
                    //-             center
                    //-                 table.container
                    //-                     tr
                    //-                         td
                                                include blocks/third
                                                include helpers/footer


        //Gmail App Fix
        include ../../../../vendor/helpers/gmail-fix
