*
  font-family "Helvetica", "Arial", sans-serif !important

.vam
  vertical-align middle !important

.butt-td
  padding: 0 !important

body
  margin: 0 auto !important
  text-align: center !important

table.body
  background: #F8F8FB url('https://static.cdnpub.info/files/storage/public/5f/b3/da5d064823f0g7j4d2/bg.png') center top 40px no-repeat
  background-size: 622px
  
.white-bg
  background: #ffffff

.black-bg
  background: #141628
  
.dark-bg
  background: #23264A

.grey-bg
  background: #F8F8FB

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.brad-top
  border-top-left-radius: 10px !important
  border-top-right-radius: 10px !important

.brad-bot
  border-bottom-left-radius: 10px !important
  border-bottom-right-radius: 10px !important

.center
  text-align: center
  margin: 0 auto

.bb
  border-bottom: 1px solid #2D3240

.nopoint
  cursor: default !important

.small-none
  @media screen and (max-width: 600px)
    display: none !important

.logo
  float: none
  max-width 168px
  height: 25px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  margin: 0 auto

.header-soc
  float: right
  @media screen and (max-width: 600px)
    padding-right: 20px !important
  a
    display: inline-block
    margin-left: 20px
    @media screen and (max-width: 600px)
      margin-left: 15px !important

.ig
  max-width: 15px
  float: none
.tw
  max-width: 19px
  float: none
.yt
  max-width: 22px
  float: none
.fb
  max-width: 15px
  float: none

.header
  min-height: 380px
  @media screen and (max-width: 600px)
    min-height: 410px !important

.header-text
  @media screen and (max-width: 600px)
    background: #ffffff !important
    border-radius: 5px !important
    padding-top: 5px !important
    padding-bottom: 5px !important

.title
  color: #481C82
  font-size: 42px
  line-height: 51px
  font-weight: 700
  font-family: Helvetica !important

.text
  font-family: Helvetica !important
  color #605470
  font-size 18px
  font-weight 400
  line-height 28px

.down-img
  display: inline-block
  float: none
  max-width: 200px
  vertical-align: middle
  @media screen and (max-width: 600px)
    max-width: 40% !important
    vertical-align: top !important

.down-block
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/913fd4c088b1g0j2c1/down.png') left top no-repeat
  background-size: 200px
  padding-left: 230px
  padding-top: 30px
  min-height: 230px
  box-sizing: border-box
  @media screen and (max-width: 600px)
    background-size: 150px !important
    padding-right: 20px !important
    padding-left: 165px !important
    padding-top: 0 !important
    min-height: 170px !important

.down-text
  color: #382C49
  font-size: 22px
  line-height: 30px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 18px !important
    line-height: 26px !important

.activate-title
  color: #481C82
  font-size: 42px
  line-height: 51px
  font-weight: 700
  font-family: Helvetica !important
  padding-top: 20px
  padding-right: 100px
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/91402aa451f0c4b1a8/on.png') right 20px top no-repeat
  background-size: 110px
  @media screen and (max-width: 600px)
    font-size: 30px !important
    line-height: 36px !important
    background-size: 80px !important
    background-position: right 20px top 10px !important

.activate-block
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/913fa22f39h1j2g8g4/bg_activate.png') center top no-repeat
  min-height: 327px
  background-size: cover

.perks-block
  min-height: 212px
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/913fc750d8f4f6c0c6/bgperks.png') center top no-repeat
  background-size: cover

.perk
  padding-top: 30px
  padding-bottom: 35px
  padding-left: 50px
  padding-right: 115px
  border-bottom: 7px solid #F8F8FB
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 100px !important

.perk_1
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/afcfbac6f5i2h7j8f6/icon1.png') right 24px center no-repeat
  background-size: 63px

.perk_2
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/afcfbb86d3d6h9f0i5/icon2.png') right 28px center no-repeat
  background-size: 56px

.perk_3
  background: url('https://static.cdnpub.info/files/storage/public/5f/b2/afcfdefb07c7b9f2j3/icon3.png') right 27px center no-repeat
  background-size: 54px
  border-bottom: 0

.perk-title
  color: #481C82
  font-size: 22px
  line-height: 28px
  font-weight: 700
  font-family: Helvetica !important

.plus-block
  //min-height: 482px
  background: #EFF0FF url('https://static.cdnpub.info/files/storage/public/5f/b2/913f9c77a8e2j9d6h0/bg_bot.png') center top no-repeat
  background-size: 100%

.plus-title
  font-size: 34px
  line-height: 40px
  font-weight: 700
  font-family: Helvetica !important
  color: #481C82

.text a
  color: #213E8F
  font-weight: 700
  font-family: Helvetica !important

.white-text
  color: #FFFFFF
  font-size: 18px
  line-height: 23px
  font-weight: 400
  font-family: Helvetica !important

.white-title
  color: #FFFFFF
  font-size: 30px
  line-height: 50px
  font-weight: 700
  font-family: Helvetica !important

.point-text
  color: #605470
  font-size: 18px
  line-height: 23px
  font-weight: 400
  font-family: Helvetica !important
  padding-top: 10px
  b
    color: #481C82 !important
    font-weight: 700 !important

.block-left
  float: left
  max-width: 229px
  @media screen and (max-width: 600px)
    float: none !important
    max-width: 100% !important
    margin-bottom: 30px !important

.block-right
  float: right
  max-width: 229px
  @media screen and (max-width: 600px)
    float: none !important
    max-width: 100% !important

.img1
  float: none
  display: block
  max-width: 24px

.img2
  float: none
  display: block
  max-width: 26px

.img3
  float: none
  display: block
  max-width: 20px

.img4
  float: none
  display: block
  max-width: 25px

.center-small
  @media screen and (max-width: 600px)
    text-align: center !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important

.button-wrapper_down
  padding-right: 20px
  @media screen and (max-width: 600px)
    padding-right: 0 !important

.button-wrapper_activate
  max-width:  280px

table.medium-button td
  background: #FB5550
  border-radius: 7px !important

.butt
  color #FFFFFF
  font-size 14px !important
  font-weight 700 !important
  border-radius: 7px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 18px 0 17px !important
  font-family: Helvetica !important

.left-side
  display: inline-block
  width: 60%
  max-width: 280px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    max-width: 100% !important
    display: block !important

.right-side
  display: inline-block
  width: 40%
  padding-left: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    display: block !important
    padding-left: 0 !important
    padding-top: 20px !important



.list-block
  overflow: hidden

.left-list
  float: left
  width: 40%
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-left: 20px !important

.right-list
  float: left
  width: 60%
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-left: 20px !important

p.warning
  text-align: left
  color: #B0B2BB !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  padding-bottom: 15px
  font-weight: 400

p.warning .upper
  color #B0B2BB
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 8px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #B0B2BB !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400
  text-align: left

.subscribe
  text-align: left !important

a.left
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  text-align: left
  font-family: Helvetica !important
  text-decoration: underline
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  font-family: Helvetica !important
  text-decoration: underline
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important


.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb10
  padding-bottom: 10px

.pb12
  padding-bottom: 12px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb35
  padding-bottom: 35px

.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt7
  padding-top: 7px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt30-big
  padding-top: 30px
  @media screen and (max-width: 600px)
    padding-top: 10px !important

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px

.pt70
  padding-top: 70px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr70
  padding-left: 70px
  padding-right: 70px
  @media screen and (max-width: 600px)
    padding-left: 0px !important
    padding-right: 0px !important

.pl15
  padding-left: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important

.pr30
  padding-right: 30px

.pr50
  padding-right: 50px