table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb10  
                        p.big-text-a.pb20.center ${{ digest-19-04-23.block_16 }}$

                tr
                    td.pb0          
                        .left-mob.white-bg.br10
                            .padding.pr5
                                p.country-text
                                    img.flag-country(src="https://fsms.quadcode.com/storage/public/cn/fg/hji03qqv4qln7sjg/blue-man.png")
                                    |<b>Anthony B.</b>
                                p.country-number.green $202,587
                        .right-mob.white-bg.br10   
                            .padding.pr5
                                p.country-text
                                    img.flag-country(src="https://fsms.quadcode.com/storage/public/cn/fi/epq03qqv4qln7sn0/green-man.png")
                                    |<b>Mauricio F.</b>
                                p.country-number.green $78,120

table.row
    tr
        td.wrapper.last.offset-by-two.pt20
            table.eight.columns
                tr
                    td.pb50.text-pad-small
                        .button-wrapper.button-wrapper_top
                            table.medium-button.radius-big
                                tr
                                    td.iq
                                        a.butt(href="https://api.iqoption.com/v1/multi-links/deposit?id=100?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_39 }}$&aff=7&afftrack=mail_954&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" universal="true" target="_blank") ${{ digest-19-04-23.block_17 }}$
