
table.row
    tr
        td.wrapper.last.pt32
            table.twelve.columns
                tr
                    td.pb20
                        //- p.footer-text.pb24.plr30.center ${{ Boom-2.block_16 }}$
                        .socials.center
                            a.first-link(href="${{ exnova-soc.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/cq/u8/t7mdi3umufautofg/fb (2).png")
                            a(href="${{ exnova-soc.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cq/u8/t7edi3umufautof0/ig (2).png")
                            a.last-link(href="${{ exnova-soc.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cq/u8/t7efu8jqbm985b50/tw (2).png")

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-boom-options&retrack=exnova-boom-options" target="_blank")
                            //-     img.a-app(src="https://fsms.quadcode.com/storage/public/cq/u8/5b6di3umufautoc0/DownloadontheAppStoreBadgeUSUKRGBblk.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-boom-options" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/cq/u8/5b6di3umufautocg/googleplaybadge.png")

