table.row.footer
    tr
        td.pb0
            table.twelve.columns
                tr
                    td.pb0
                        .mobile-paddding
                            p.warning
                                span.upper ${{ 8x-rw.block_00 }}$
                                | ${{ 8x-rw.block_01 }}$
                            p.address-text FSkdflksdflksdflkl
                            //div.address.center
                            //    a.address-text(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail&retrack=system" trget="_blank") 8xTrade.com
                            p.subscribe
                                a.left(href='https://8xtrade.com/terms-and-conditions')  ${{ footer.footer.conditions }}$
                                a.right(href='https://8xtrade.com/api/mail/unsubscribe?t={{embedded.unsubscribe_token}}')  ${{ footer.footer.unsubscribe }}$
