//- table.row
    tr
        td.pt40
            a.nopoint(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-new-digest-07-07-25&retrack=exnova-new-digest-07-07-25" target="_blank")
                img(src="https://fsms.quadcode.com/storage/public/ci/1h/4r6gbu954ogkdu50/banner-2.png" style="max-width: 580px; margin: 0 auto; float: none; width: 100% !important;")
    tr
        td.wrapper.last.pt0.offset-by-one
            
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title-blitz.center.pt24.pb8

                            span.yellow-span ${{ exnova-2706.block_48 }}$
                            |&nbsp;
                        p.text-blitz.center 
                            span.yellow-span 
                            |${{ exnova-2706.block_49 }}$
                        table.w245(align="center")
                            tr
                                td.pt24.pb0 
                                    .button-wrapper.button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/assetSelector?aff=7&afftrack=mail_exnova-new-digest-07-07-25&retrack=exnova-new-digest-07-07-25&type=blitz-option" target="_blank") ${{ exnova-2706.block_50 }}$

//- .div-40 &nbsp;
