*
  font-family "Helvetica", "Arial", sans-serif !important

.vam
  vertical-align middle !important


.butt-td
  padding: 0 !important

body
  margin: 0 auto !important
  text-align: center !important

table.body
  background: #F7F7F7

table.row.grey-bg
  background: #F7F7F7

table.row
  background: #ffffff

table.row.footer
  background: #F7F7F7

table.row.header
  background: #481C82 url('https://static.cdnpub.info/files/storage/public/5f/ad/4a6bebbac1a0j5i8d9/grad.png') left top no-repeat
  background-size: cover
  border-radius: 15px

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.bb
  border-bottom: 2px solid #EAEBEE

.brad-top
  border-top-right-radius 15px !important
  border-top-left-radius 15px !important
  overflow: hidden

.brad-bot
  border-bottom-right-radius 15px !important
  border-bottom-left-radius 15px !important
  overflow: hidden

.nopoint
  cursor: default !important

.logo
  float: none
  max-width 168px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.header-soc
  float: right
  @media screen and (max-width: 600px)
    padding-right: 20px !important
  a
    display: inline-block
    margin-left: 20px
    @media screen and (max-width: 600px)
      margin-left: 15px !important

.ig
  max-width: 15px
  float: none
.tw
  max-width: 19px
  float: none
.yt
  max-width: 22px
  float: none
.fb
  max-width: 15px
  float: none

.title
  color: #FF6B68
  font-size: 36px
  line-height: 46px
  font-weight: 700
  font-family: Helvetica !important

.text
  font-family: Helvetica !important
  color #382F44
  font-size 16px
  font-weight 400
  line-height 24px

.text a
  color: #2F56D0
  font-weight: 700
  font-family: Helvetica !important
  text-decoration: underline

.small-text
  color: #382F44
  font-size: 16px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important

span.red
  color: #481C82
  font-family: Helvetica !important

.big-text
  color: #5B358F
  font-size: 22px
  line-height: 24px
  font-weight: 700
  font-family: Helvetica !important

.purple-title
  color: #5B358F
  font-size: 40px
  line-height: 50px
  font-weight: 700
  font-family: Helvetica !important

table.row.bot-block
  background: #481C82 url('https://static.cdnpub.info/files/storage/public/5f/ad/4a6bc5ed65c0e7i0f4/grad_small.png') left top no-repeat
  background-size: cover
  border-radius: 15px

.block-title
  color: #FFFFFF
  font-size: 20px
  line-height: 24px
  font-weight: 700
  font-family: Helvetica !important

.block-text
  color: #CFBDE6
  font-size: 14px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important

.block-text a
  color: #FF6B68
  font-family: Helvetica !important
  text-decoration: underline

.list
  padding-left: 16px
  background: url('https://static.cdnpub.info/files/storage/public/5f/ad/7eafe19dd5j2b1a0f5/dot.png') top 11px left no-repeat
  -webkit-background-size: 5px
  background-size: 5px
  padding-bottom: 5px

.center-small
  @media screen and (max-width: 600px)
    text-align: center !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

table.medium-button td
  background: #F95550
  border-radius: 5px !important

.butt
  color #ffffff
  font-size 14px !important
  font-weight 700 !important
  border-radius: 5px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 21px 0 20px !important
  font-family: Helvetica !important

.left-side
  display: inline-block
  width: 60%
  max-width: 280px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    max-width: 100% !important
    display: block !important

.right-side
  display: inline-block
  width: 40%
  padding-left: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 100% !important
    display: block !important
    padding-left: 0 !important
    padding-top: 20px !important

.list-block
  overflow: hidden

.left-list
  float: left
  width: 40%
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-left: 20px !important

.right-list
  float: left
  width: 60%
  @media screen and (max-width: 600px)
    float: none !important
    width: 100% !important
    padding-left: 20px !important

p.warning
  text-align: left
  color: #7E859A !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  padding-bottom: 15px
  font-weight: 400

p.warning .upper
  color #525D78
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 8px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #7E859A !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400
  text-align: center

.subscribe
  text-align: left !important
  padding-top: 20px

.mobile-paddding
  padding: 25px 50px 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

a.left
  color: #7E859A
  font-weight: 400
  display: inline-block
  text-align: left
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #7E859A
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important


.pb0
  padding-bottom: 0

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt30
  padding-top: 30px

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.pt30-big
  padding-top: 30px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important