*
  font-family "Helvetica", "Arial", sans-serif !important

.vam
  vertical-align middle !important


.butt-td
  padding: 0 !important

body
  margin: 0 auto !important
  text-align: center !important

table.body
  background: #f5f9ff

.under-img
  border-radius: 24px
  background-color: #F5F9FF

.bg-white
  background-color: #ffffff
.br-full
  border-radius: 16px
.h-12
  height 12px
  font-size: 12px
  line-height: 12px
.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important
.left-side 
  display: inline-block
  width 230px
  vertical-align: top
  margin-right 10px
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    padding-bottom 30px !important

.right-side
  display: inline-block
  width 230px
  vertical-align: top
  float right 
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important


.trans
  background: transparent

.nopoint
  cursor: default !important

.brad-top
  border-top-left-radius: 3px !important
  border-top-right-radius: 3px !important

.brad-bot
  border-bottom-left-radius 3px !important
  border-bottom-right-radius 3px !important

table.body-2
  background: #141822
  
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin o auto !important
.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.bb
  border-bottom: 10px solid #F1F2F5

.blue-button
  background: #0081E3 !important
.green-button
  background: #3DBB7F !important

.butt
  background #0173CA
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto

.butt-link
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #ffffff
  display block
  padding: 18px 0 18px
  text-align center
  letter-spacing 0px

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important


.arrow-icon
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding-left: 15px

.white-bg
  background: #ffffff

.subtitle
  color: #FFFFFF
  font-size: 14px
  line-height: 17px
  text-transform: uppercase
  letter-spacing: 4px
  font-family: Helvetica !important
  font-weight: 400

.pt303
  padding-top 303px
  @media screen and (max-width: 600px)
    padding-top 203px !important

.title
  font-family: Helvetica !important
  color: #373437
  font-size: 48px
  line-height: 58px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important
.title-small
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #413E43
  @media screen and (max-width: 600px)
    font-size: 22px !important
    line-height: 32px !important


.title-white
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 48px
  color: #ffffff
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important
.displ-flex
  display flex
  @media screen and (max-width: 600px)
    display block !important

.block_21_00
  color: #0081E3 !important
.block_35_00
  color: #3EEC99 !important
.big-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 50px
  color: #262832
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important
.list
  background: url('https://static.cdnroute.io/files/storage/public/62/a8/54fc7b12f0j5f6b3h1/blue_dot.png') left top 8px no-repeat
  -webkit-background-size: 10px
  background-size: 10px
  padding-left 19px
.list-green
  background: url('https://static.cdnroute.io/files/storage/public/62/a8/7813cb5ca8d0a4a9i8/blue_dot_2.png') left top 8px no-repeat
  -webkit-background-size: 10px
  background-size: 10px
  padding-left 19px  

.white-title
  color: #ffffff
  font-size: 32px
  line-height: 38px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-align: center !important

.blue-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 27px
  color: #413E43
  padding-bottom 4px


.blue-min-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #0081E3

.green-text
  color: #21BB72 !important

.small-img
  display block
  float none
  width 56px !important

.text
  font-family: Helvetica !important
  color: #413E43
  font-size 18px
  font-weight 400
  line-height 27px

.text-white
  color: #FFFFFF !important

.text.bold
  font-weight: 700

p.warning
  text-align: left
  color: #6677AC !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #6677AC
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 14px
  line-height: 22px
  color: #474A50 !important
  text-align center !important

.subscribe
  text-align: center !important
  padding-top: 20px
  
.big-text-footer
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 50px
  color: #474A50
  @media screen and (max-width: 600px)
    font-size: 22px !important
    line-height: 30px !important

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  padding-right 30px
a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left

.pb0
  padding-bottom: 0
.pb4
  padding-bottom: 4px
.pb8
  padding-bottom: 8px  
.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb16
  padding-bottom: 16px

.pb20
  padding-bottom: 20px
.pb28
  padding-bottom: 28px
.pb30
  padding-bottom: 30px
.pb32
  padding-bottom: 32px
.pb40
  padding-bottom: 40px
.pb44
  padding-bottom: 44px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb210
  padding-bottom: 210px

.pt0
  padding-top: 0
.pt8
  padding-top: 10px
.pt10
  padding-top: 10px

.pt15
  padding-top: 15px
.pt16
  padding-top: 16px
.pt20
  padding-top: 20px

.pt20-small
  @media screen and (max-width: 600px)
    padding-top: 20px !important

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px
.pt32
  padding-top: 32px
.pt35
  padding-top: 35px

.pt40
  padding-top: 40px
.pt44
  padding-top: 40px
.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 50px
  padding-right: 50px

.pl30
  padding-left: 30px

.pb20-big
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important


.under
  text-decoration: underline

.plmob
  @media screen and (max-width: 600px)
    padding-left: 15px !important

.prmob
  @media screen and (max-width: 600px)
    padding-right: 15px !important
.app-store
  display inline-block
  width 155px !important
  padding-right 20px
  padding-bottom 10px
.google-store  
  display inline-block
  width 175px !important
  padding-bottom 10px



.stor
  width 100%
  margin 0 auto
  text-align: center
  @media screen and (max-width: 600px)
    width 100% !important

.a-google
  display inline-block
  padding 10px 12px !important
  max-width 215px !important
  height 52px !important
  float: none !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.mar0
  margin: 0 10px !important

.soc-icon
  float: none
  max-width: 24px

.ig
  max-width 20px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 20px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.fb
  max-width 24px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 24px !important

.w100
  width 100%
.blue-block
  background: #F5F9FF
  border-radius: 16px
  padding 32px

.left-table
  width 67% !important
.center-table
  width 1% !important

.right-table
  width 32% !important

.little-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 35px
  letter-spacing: 0.5px
  color: #413E43

.blue-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #7E7E89
  padding-bottom 24px

.green-block
  width 100%
  display block
  height: 35px
  background: #3DBB7F
  border-radius: 8px 0 0 8px

.red-block
  width 100%
  display block
  height: 35px
  background: #E35E4C
  border-radius: 0 8px 8px 0 

.green-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 36px
  letter-spacing: 0.5px
  color: #3DBB7F
  padding-top 8px
  @media screen and (max-width: 600px)
    font-size: 20px !important
    line-height: 32px !important

.small-txt
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #7E7E89

.red-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 36px
  letter-spacing: 0.5px
  color: #E35E4C
  padding-top 8px
  @media screen and (max-width: 600px)
    font-size: 20px !important
    line-height: 32px !important

.text-right
  text-align: right !important

.w-a
  width auto !important
  vertical-align: top
.m-w
  min-width: 80px !important

.bottom-block
  background: #F5F9FF
  border-radius: 24px
  padding 24px
.fotter-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 48px
  line-height: 58px
  color: #373437
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 34px !important

