table.row.footer
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.pb0.text-pad-small.pb50
                        p.address-text.pb20 {{embedded.company_address}}
                        p.warning.pb20 {{embedded.risk_warning}}
                        p.subscribe
                            a.left(href="{{embedded.company_terms_link}}")  ${{ footer.footer.conditions }}$
                            a.right(href="{{embedded.unsubscribe_link}}")  ${{ footer.footer.unsubscribe }}$

