*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

table.overbody
  margin: 0 auto !important
  background: #F5F9FF 
  width: 100%
  max-width: 100%

body
  margin: 0 auto !important
  text-align: center !important
.vam
  vertical-align: middle !important
table.row.header
  background #f2f3f5
  height: 86px
// background: #F5F9FF url('https://static.cdnroute.io/files/storage/public/62/be/b7450df8c7f2f1h0f7/Group_225__7_.png') center top 88px no-repeat

.bgr
  background-color: #F5F9FF 
  background-position: center top 88px 
  background-repeat: no-repeat
  -webkit-background-size: 650px auto
  background-size: 650px auto
  height: auto
  @media screen and (max-width: 600px)
    background-position:  center top 80px !important
    -webkit-background-size: 100% !important
    background-size: 100% !important

// background: #F5F9FF url('https://static.cdnroute.io/files/storage/public/62/c2/da3498f139h1i7b2d2/Group_297.png') center top 45px no-repeat

.bgr-2
  // background-color: #F5F9FF
  background-position: center top 45px
  background-repeat: no-repeat
  -webkit-background-size: 500px auto
  background-size: 500px auto
  height: auto
  @media screen and (max-width: 600px)
    background-position: center top 38px !important
    -webkit-background-size: 100% !important
    background-size: 100% !important    

.bg-side
  background:#F0F5FF
  border 1px solid #D7E4FF
  border-radius: 3px

.left-side 
  display: inline-block
  width 230px
  vertical-align: top
  margin-right 10px
  min-height: 160px
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    margin-bottom 20px !important
    min-height: auto !important

.right-side
  display: inline-block
  width 230px
  vertical-align: top
  float right 
  min-height: 160px
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    min-height: auto !important
    
.img-right    
  padding-top 5px
//   background: #F5F9FF url('https://static.cdnroute.io/files/storage/public/62/c2/ac00b1f780b8g2e6j3/_.png') center left no-repeat
//   -webkit-background-size: 25px 
//   background-size: 25px 
//   padding-left 44px

.w-a
  width auto !important
.dollar
  width 25px !important
  float none
  padding-right 15px
  vertical-align: middle

.img-left-side
  display block
  width 26px !important
.padding-side
  padding: 24px 24px 19px 24px  
  @media screen and (max-width: 600px)
    padding: 15px !important

.padding-bottom-side  
  padding: 24px
  @media screen and (max-width: 600px)
    padding: 15px !important
.img-right-side 
  display block
  width 41px !important

.pb52
  padding-bottom: 52px
  @media screen and (max-width: 600px)
    padding-bottom: 28px !important

.pb28  
  padding-bottom: 28px  

.card-img
  display block
  width 50px !important

.card-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #FFFFFF

.card-text 
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #FFFFFF

.card-padding
  padding 25px 20px

.trans
  background: transparent

.nopoint
  cursor: default !important

.brad-top
  border-top-left-radius: 3px !important
  border-top-right-radius: 3px !important

.brad-bot
  border-bottom-left-radius 3px !important
  border-bottom-right-radius 3px !important

table.body-2
  background: #141822
  
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin o auto !important
.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.bb
  border-bottom: 10px solid #F1F2F5

.blue-button
  background: #0081E3 !important
.green-button
  background: #3DBB7F !important
.butt
  color #ffffff
  font-size 16px !important
  font-weight 600 !important
  letter-spacing:  -0.25px !important
  text-transform: none !important
  padding: 17px 0 17px !important
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.arrow-icon
  float: none
  display: inline-block
  vertical-align: middle
  max-width: 18px
  padding-left: 15px

.white-bg
  background: #ffffff

.subtitle
  color: #FFFFFF
  font-size: 14px
  line-height: 17px
  text-transform: uppercase
  letter-spacing: 4px
  font-family: Helvetica !important
  font-weight: 400

.title
  font-family: Helvetica !important
  color: #293753
  font-size: 42px
  line-height: 50px
  font-weight: 700
  padding-top 403px
  @media screen and (max-width: 600px)
    padding-top 203px !important
    font-size: 26px !important
    line-height: 38px !important

.blue
  color: #0081E3 !important
.green
  color: #22BB72!important 
.title-white
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 48px
  color: #ffffff
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important
.displ-flex
  display flex
  @media screen and (max-width: 600px)
    display block !important

.block_21_00
  color: #0081E3 !important
.block_35_00
  color: #3EEC99 !important
.big-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 50px
  color: #262832
  @media screen and (max-width: 600px)
    font-size: 26px !important
    line-height: 38px !important
.list
  background: url('https://static.cdnroute.io/files/storage/public/62/a8/54fc7b12f0j5f6b3h1/blue_dot.png') left top 8px no-repeat
  -webkit-background-size: 10px
  background-size: 10px
  padding-left 19px
.list-green
  background: url('https://static.cdnroute.io/files/storage/public/62/a8/7813cb5ca8d0a4a9i8/blue_dot_2.png') left top 8px no-repeat
  -webkit-background-size: 10px
  background-size: 10px
  padding-left 19px  

.white-title
  color: #ffffff
  font-size: 32px
  line-height: 38px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-align: center !important

.blue-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 21px
  line-height: 24px
  color: #0081E3

.blue-min-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #0081E3
.green-text
  color: #21BB72 !important

.text
  font-family: Helvetica !important
  color: #293753
  font-size 16px
  font-weight 400
  line-height 24px
.fs18
    font-size 18px !important
.text-white
  color: #FFFFFF !important
.text.bold
  font-weight: 700

.mobile-paddding
  padding-top 30px !important

p.warning
  text-align: left
  color: #6677AC !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #6677AC
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #293753 !important
  font-size: 14px !important
  text-align: left !important
  line-height: 21px

.subscribe
  text-align: left !important
  padding-top: 20px
.big-text-footer
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 50px
  color: #293753
  @media screen and (max-width: 600px)
    text-align: center !important
    font-size: 22px !important
    line-height: 30px !important

a.left
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  padding-right 30px
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

.pb0
  padding-bottom: 0
.pb4
  padding-bottom: 4px
.pb10
  padding-bottom: 10px
.pb13
  padding-bottom: 13px
.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px
.pb24
  padding-bottom: 24px
.pb25
  padding-bottom: 25px
.pb30
  padding-bottom: 30px

.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px
.pb70
  padding-bottom: 70px
.pb210
  padding-bottom: 210px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt20-small
  @media screen and (max-width: 600px)
    padding-top: 20px !important

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px
  
.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px
.pt380
  padding-top: 380px
  @media screen and (max-width: 600px)
    padding-top: 300px !important
    
.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 50px
  padding-right: 50px

.pl30
  padding-left: 30px

.pb20-big
  padding-bottom: 20px
  @media screen and (max-width: 600px)
    padding-bottom: 0 !important


.under
  text-decoration: underline

.plmob
  @media screen and (max-width: 600px)
    padding-left: 15px !important

.prmob
  @media screen and (max-width: 600px)
    padding-right: 15px !important
.green-block
  background: #E4F3EA

.countries-block-new
  width 145px
  background: #E4F3EA
  display: inline-block
  float: none
  border-radius: 3px
  min-height: 143px
  vertical-align: top
  min-height: 158px
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important
    min-height: auto !important
    margin-top: 15px !important

.padding-min
  padding 25px 14px 25px 18px  

.mar-mob
  margin 0 10px
  @media screen and (max-width: 600px)
    margin: 0 auto !important
    margin-top: 15px !important

.item-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 42px
  line-height: 48px
  color: #21BB72
  padding-bottom 4px

.item-number-min    
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 37px
  color: #21BB72
  padding-bottom 4px
.pt-table 
  padding-top 14px  
  @media screen and (max-width: 600px)
    padding-top: 0 !important
.item-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 21px
  color: #262832

.app-store
  display inline-block
  width 155px !important
  padding-right 20px
  padding-bottom 10px

.google-store  
  display inline-block
  width 175px !important
  padding-bottom 10px
