table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt60
            table.ten.columns
                tr
                    td.text-pad-small.pb15
                        p.title-white.pb15 
                            span.green ${{ EXNOVA_payment.block_10 }}$  
                            //| ${{ EXNOVA_payment.block_11 }}$
                        p.text.text-white ${{ EXNOVA_payment.block_11 }}$
            
table.row.trans-white
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb20
                        a.nopoint(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img(src="https://static.cdnroute.io/files/storage/public/62/c2/da34734a44f6g0i3f0/Frame_2.png")

table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.pb70
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.green-button
                                tr
                                    td.iq.green-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_payment.block_12 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

