table.row
    tr
        td.wrapper.last.bgr
            table.row.header
                tr
                    td.wrapper.offset-by-one.last.pt30
                        table.ten.columns
                            tr
                                td.six.sub-columns.pb0
                                    a(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail_system&retrack=8x-lose" target="_blank")
                                        img.logo(src="https://static.cdnpub.info/files/storage/public/5f/51/18dae78c93d4c4g1d5/logo.png")
                                td.six.sub-columns.last.pb0
                                    .header-soc
                                        a(href="" target="_blank")
                                            img.ig(src="https://static.cdnpub.info/files/storage/public/5f/51/18dadc8ed0a9c1b2b3/ig.png")
                                        a(href="" target="_blank")
                                            img.tw(src="https://static.cdnpub.info/files/storage/public/5f/51/18db28f4f5a1b6i3e8/twitter.png")
                                        a(href="" target="_blank")
                                            img.yt(src="https://static.cdnpub.info/files/storage/public/5f/51/18db48a987a3i5a3j0/yt.png")
                                        a(href="" target="_blank")
                                            img.fb(src="https://static.cdnpub.info/files/storage/public/5f/51/18dadd0ea9j2e9g2g8/fb.png")
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt0
                        table.ten.columns
                            tr
                                td.text-pad-small.pb0
                                    p.title Tournaments
                                    p.white-text What do 8x-traders do when they don’t trade? They compete in trading tournaments for whopping money prizes. You are welcome to join!

            table.row
                tr
                    td.wrapper.last.offset-by-one.pt15
                        table.six.columns
                            tr
                                td.text-pad-small.vam.pb0
                                    .button-wrapper.button-wrapper_left
                                        table.medium-button.radius
                                            tr
                                                td.butt-td
                                                    a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail_system&retrack=8x-lose" target="_blank") i am ready


            table.row
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb35




table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.black-title.pb15 What’s a tournament?
                        p.text.pb30 A tournament is a competition between traders. The goal is to trade your best and finish up as close to the top of the Leaderboard as possible. The top-performers share the money prize of several thousand dollars!

                        .block-head
                            p.block-name
                                img.icon.icon_1(src="https://static.cdnpub.info/files/storage/public/5f/5a/04ff4bada1f0f1h5e6/ticket.png")
                                | Participation
                        p.text.pt15.pb15 The participants trade with play money and win real money prizes. The tournament account comes with the same amount of virtual coins, so the odds are equal for everyone.
                        a.red-link(href="" target="_blank")
                            img.arr(src="https://static.cdnpub.info/files/storage/public/5f/58/e3216b1521i6d4g8e0/arr.png")
                            | JOIN A TOURNAMENT

                        .block-head
                            p.block-name
                                img.icon.icon_2(src="https://static.cdnpub.info/files/storage/public/5f/5a/04feeb8646d7f5d0f5/board.png")
                                | Leaderboard
                        a.nopoint.mtb20(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/5a/04ff515e68f0e9f5a9/scr1.png")
                        p.text.pb30 The goal is simple: those with the highest returns by the end of the tournament top the Leaderboard and share the prize.

                        .block-head
                            p.block-name
                                img.icon.icon_3(src="https://static.cdnpub.info/files/storage/public/5f/5a/04ff1986a8g3c2c9h8/fee.png")
                                | Entry fee
                        p.text.pt15.pb15 Tournaments with higher prize funds come at a small entry fee of $2-20. Don't want to pay? Join free tournaments with zero commitment.
                        a.red-link(href="" target="_blank")
                            img.arr(src="https://static.cdnpub.info/files/storage/public/5f/58/e3216b1521i6d4g8e0/arr.png")
                            | JOIN A TOURNAMENT

                        .block-head
                            p.block-name
                                img.icon.icon_4(src="https://static.cdnpub.info/files/storage/public/5f/5a/04ff27a027j0g4d5d7/rebuy.png")
                                | Rebuy
                        a.nopoint.mtb20(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/5a/04ff6d8869c7c7f7g5/scr2.png")
                        p.text.pb30 Noticed that your tournament balance is getting lower than the starting balance? Top it up with real money and stay in the rally.

                        .block-head
                            p.block-name
                                img.icon.icon_5(src="https://static.cdnpub.info/files/storage/public/5f/5a/04ff198174a1e9g4b3/prize.png")
                                | Prize fund distribution
                        p.text.pt15.pb15 The prize fund is distributed between the leaders. If you couldn’t hit the 1st place, you can still get money prize even being #30.
                        a.red-link(href="" target="_blank")
                            img.arr(src="https://static.cdnpub.info/files/storage/public/5f/58/e3216b1521i6d4g8e0/arr.png")
                            | JOIN A TOURNAMENT

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb10.redish The winning will be credited to your trading account. Withdraw the money or use it for further trading!
                        p.text We hold several tournaments every month — proceed to the Tournament section to check what’s on now.
                        a.nopoint.mtb30(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/51/18db23b387c4d3d6d3/lines.png")
                        p.black-title Ready. Set. Trade!


table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt15
            table.six.columns
                tr
                    td.text-pad-small.vam.pb40
                        .button-wrapper.button-wrapper_left
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail_system&retrack=8x-lose" target="_blank") Join a tournament
