*
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  width: 100% !important

table.body
  background: #F8F8FB

.transparent
  background: #F8F8FB
  
.white-bg
  background: #ffffff

.brad-top
  border-top-left-radius 15px
  border-top-right-radius 15px
  overflow hidden

.brad-bot
  border-bottom-left-radius 15px
  border-bottom-right-radius 15px
  overflow hidden

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.bb
  border-bottom: 2px solid #EAEBEE

.nopoint
  cursor: default !important
  display: block

.img100
  float: none
  display: block
  width: 100%

.logo
  float: none
  max-width 168px
  height: 25px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  margin: 0 auto

.title
  color: #0B1735
  font-size: 36px
  line-height: 44px
  font-weight: 700
  font-family: Helvetica !important

.try
  float: none
  color: #6939CF
  font-size: 18px
  line-height: 27px
  font-weight: 700
  font-family: Helvetica !important
  display: inline-block

.arr
  float: none
  display: inline-block
  vertical-align: middle
  padding-left: 11px
  max-width: 10px

.text
  font-family: Helvetica !important
  color #272D3D
  font-size 18px
  font-weight 400
  line-height 27px

.small-text
  font-family: Helvetica !important
  color #2A3554
  font-size 16px
  font-weight 400
  line-height 24px
  
.subtitle
  color: #2A3554
  font-size: 28px
  line-height: 34px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 25px !important
    line-height: 32px !important
    word-break: break-word !important

.purple-block
  background: #F6F7FF
  border-radius: 15px
  padding: 40px 20px 30px
  box-sizing: border-box

.upper-block
  border-bottom-left-radius 0 !important
  border-bottom-right-radius 0 !important
  margin-bottom: 3px

.down-block
  border-top-left-radius 0 !important
  border-top-right-radius 0 !important
  padding-top: 30px
  padding-bottom: 15px

.graph
  float: none
  display block
  max-width: 444px
  margin: 0 auto
  @media screen and (max-width: 600px)
    max-width: 100% !important

.block-title
  color: #2A3554
  font-size: 24px
  line-height: 29px
  font-weight: 700
  font-family: Helvetica !important

.under-text
  color: #697189
  font-size: 14px
  line-height: 21px
  font-weight: 400
  font-family: Helvetica !important

.line-text
  padding-left: 29px
  background: url('https://static.cdnpub.info/files/storage/public/60/7e/a43d7eca79i7d1f9e4/dot.png') left 7px top 6px no-repeat
  background-size: 10px
  color: #2A3554
  font-size: 16px
  line-height: 24px
  font-weight: 400
  font-family: Helvetica !important
  padding-bottom: 15px

.pr20
  padding-right: 20px

.text a
  color: #213E8F
  font-weight: 700
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

table.medium-button td
  background: #FB5550
  border-radius: 5px !important
  padding: 0 !important

.butt
  color #ffffff
  font-size 14px !important
  line-height 17px !important
  font-weight 700 !important
  border-radius: 5px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 20px 0 18px !important
  font-family: Helvetica !important

p.warning
  text-align: left
  color: #B0B2BB !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  font-weight: 400

.address-text
  color: #B0B2BB !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400

.subscribe
  text-align: left !important

a.left
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  font-family: Helvetica !important
  text-decoration: underline
  margin-right: 30px
  @media screen and (max-width: 600px)
    margin-bottom: 10px !important

a.right
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  font-family: Helvetica !important
  text-decoration: underline


.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb35
  padding-bottom: 35px

.pb40
  padding-bottom: 40px

.pb45
  padding-bottom: 45px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl15
  padding-left: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important

.pl20
  padding-left: 20px

.mb20
  margin-bottom: 20px