
table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td
                        .socials
                            a.first-link(href="https://apps.apple.com/GB/app/id871125783?mt=8" target="_blank")
                                img.store-icon.app(src="https://fsms.quadcode.com/storage/public/62/69/3673e7de78i1a0b5d8/app_store.png")
                            a(href="https://play.google.com/store/apps/details?id=com.iqoption&referrer=af_tranid%3DF1EfOt9saC-TN_o_jjggPQ%26utm_source%3D7%26utm_campaign%3Dmail_new-IQ-Trending-17-07-23%26c%3Dmail_new-IQ-Trending-17-07-23%26pid%3D7&pli=1" target="_blank")
                                img.store-icon.google(src="https://fsms.quadcode.com/storage/public/62/69/3673e71e05b0e4h1c1/google_store.png")
                        
table.row
    tr
        td.wrapper.last.pt20.offset-by-one
            table.ten.columns
                tr
                    td
                        .socials
                            a.first-link.va-top(href="${{ socials-2.block_00 }}$" target="_blank")
                                img.soc-icon(src="https://fsms.quadcode.com/storage/public/ci/v5/cfo3jov9srte6r5g/fb.png")
                            a(href="${{ socials-2.block_01 }}$" target="_blank")
                                img.soc-icon(src="https://fsms.quadcode.com/storage/public/ci/v5/cfo3jov9srte6r70/ig.png")
                            a(href="${{ socials-2.block_03 }}$" target="_blank")
                                img.soc-icon(src="https://fsms.quadcode.com/storage/public/ci/v5/cfo3jov9srte6r60/yt.png")
                            a.last-link(href="${{ socials-2.block_02 }}$" target="_blank")
                                img.soc-icon(src="https://fsms.quadcode.com/storage/public/ci/v5/cfo3jov9srte6r6g/tw.png")
