*
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  width: 100% !important

table.body
  background: #F8F8FB

.transparent
  background: #F8F8FB
  
.white-bg
  background: #ffffff

.brad-top
  border-top-left-radius 15px
  border-top-right-radius 15px
  overflow hidden

.brad-bot
  border-bottom-left-radius 15px
  border-bottom-right-radius 15px
  overflow hidden

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.bb
  border-bottom: 2px solid #EAEBEE

.nopoint
  cursor: default !important
  display: block

.img100
  float: none
  display: block
  width: 100%

.logo
  float: none
  max-width 168px
  height: 25px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  margin: 0 auto

.title
  color: #0B1735
  font-size: 36px
  line-height: 44px
  font-weight: 400
  font-family: Helvetica !important

.try
  float: none
  color: #6939CF
  font-size: 14px
  line-height: 27px
  font-weight: 700
  font-family: Helvetica !important
  text-transform: uppercase

.arr
  float: none
  display: inline-block
  vertical-align: middle
  padding-left: 11px
  max-width: 10px

.text
  font-family: Helvetica !important
  color #272D3D
  font-size 18px
  font-weight 400
  line-height 27px
  
.subtitle
  color: #2A3554
  font-size: 28px
  line-height: 34px
  font-weight: 400
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 25px !important
    line-height: 32px !important
    word-break: break-word !important

.sub-img
  float: none
  display: inline-block
  max-width: 32px
  padding-right: 8px
  vertical-align: text-bottom
  
.smaller-text
  color: #272D3D
  font-size: 16px
  line-height: 26px
  font-weight: 400
  font-family: Helvetica !important

.video-link
  display: block
  float: none

.video-pic
  float: none
  display: block
  max-width: 225px
  padding-bottom: 20px

.play-text
  color: #3F71F5
  font-size: 16px
  line-height: 19px
  font-weight: 400
  font-family: Helvetica !important

.play-icon
  float: none
  max-width: 20px
  display: inline-block
  vertical-align: text-bottom
  padding-right: 5px

.timecode
  color: #696C7E

.left-col
  width: 50%
  box-sizing border-box
  float: left
  @media screen and (max-width: 600px)
    width: 100% !important
    float: none !important
    padding-bottom: 20px !important

.right-col
  width: 50%
  box-sizing border-box
  float: left
  padding-left: 15px
  @media screen and (max-width: 600px)
    width: 100% !important
    float: none !important
    padding-left: 0 !important

.trade-block
  background: #F6F7FC
  border-radius: 10px
  padding: 35px 30px 25px
  box-sizing: border-box
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    padding-right: 15px !important

.trade-title
  color: #2A3554
  font-size: 21px
  line-height: 23px
  font-weight: 700
  font-family: Helvetica !important

.trade
  display: block
  overflow: hidden
  padding-bottom: 25px

.trade-left
  display: inline-block
  width: 160px
  vertical-align: middle
  @media screen and (max-width: 600px)
    width: 35% !important

.trade-top
  color: #2A3554
  font-size: 18px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important
  padding-bottom: 7px

.summ
  color: #0F1932
  font-size: 47px
  line-height: 56px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    font-size: 28px !important
    line-height: 38px !important

.summ.green
  color: #2CC676

.arrow
  float: none
  display: inline-block
  max-width: 57px
  vertical-align: middle
  padding-top: 25px
  @media screen and (max-width: 600px)
    max-width: 35px !important

.trade-right
  display: inline-block
  width: 190px
  padding-left: 25px
  box-sizing: border-box
  vertical-align: middle
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    width: 45% !important
  
.green-span
  color: #FFFFFF
  font-size: 18px
  line-height: 22px
  font-weight: 700
  font-family: Helvetica !important
  padding: 2px 8px 3px
  display: inline-block
  vertical-align: text-bottom
  background: #2CC676
  border-radius: 5px
  @media screen and (max-width: 600px)
    font-size: 16px !important
    line-height: 20px !important
    padding-left: 5px !important
    padding-right: 5px !important

.asterisk
  color: #8B8C8F
  font-size: 12px
  line-height: 16px
  font-weight: 400
  font-family: Helvetica !important

.line-text
  padding-left: 19px
  background: url('https://static.cdnpub.info/files/storage/public/60/7e/a43d7eca79i7d1f9e4/dot.png') left top 7px no-repeat
  background-size: 10px
  color: #2A3554
  font-size: 16px
  line-height: 24px
  font-weight: 400
  font-family: Helvetica !important
  padding-bottom: 15px

.pr20
  padding-right: 20px

.text a
  color: #213E8F
  font-weight: 700
  font-family: Helvetica !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

table.medium-button td
  background: #FB5550
  border-radius: 5px !important
  padding: 0 !important

.butt
  color #ffffff
  font-size 14px !important
  line-height 17px !important
  font-weight 700 !important
  border-radius: 5px !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 20px 0 18px !important
  font-family: Helvetica !important

p.warning
  text-align: left
  color: #B0B2BB !important
  font-size: 14px
  line-height: 21px
  font-family: Helvetica !important
  font-weight: 400

.address-text
  color: #B0B2BB !important
  font-size: 14px !important
  font-family: Helvetica !important
  font-weight: 400

.subscribe
  text-align: left !important

a.left
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  font-family: Helvetica !important
  text-decoration: underline
  margin-right: 30px
  @media screen and (max-width: 600px)
    margin-bottom: 10px !important

a.right
  color: #B0B2BB
  font-weight: 400
  display: inline-block
  font-family: Helvetica !important
  text-decoration: underline


.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb8
  padding-bottom: 8px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb35
  padding-bottom: 35px

.pb40
  padding-bottom: 40px

.pb45
  padding-bottom: 45px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.pt60
  padding-top: 60px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl15
  padding-left: 15px
  @media screen and (max-width: 600px)
    padding-left: 0 !important

.pl20
  padding-left: 20px

.mtb30
  margin-top: 30px
  margin-bottom: 30px

.mb15
  margin-bottom: 15px

.mb40
  margin-bottom: 40px