table.row.footer
    tr
        td.pb0
            table.twelve.columns
                tr
                    td.pb0
                        .mobile-paddding
                            p.warning {{embedded.risk_warning}}
                            //div.address.center
                            //    a.address-text(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" trget="_blank") 8xTrade.com
                            p.subscribe
                                a.left(href='{{embedded.company_terms_link}}')  ${{ footer.footer.conditions }}$
                                a.right(href='{{embedded.unsubscribe_link}}')  ${{ footer.footer.unsubscribe }}$
