doctype html
html(xmlns="http://www.w3.org/1999/xhtml")

    include ../../../../vendor/helpers/mixins
    include ../../../../vendor/helpers/head
    body
        include ../../../../vendor/helpers/preheader
        table.body
            tr
                td(align="center", valign="top").center
                    center
                        table.container
                            tr
                                td.pt30
                                    include blocks/header
                                    include helpers/footer


        //Gmail App Fix
        include ../../../../vendor/helpers/gmail-fix