*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

body
  margin: 0 auto !important
  text-align: center !important

table.row.header
  border-radius: 15px
  background: #481c82 url('https://static.cdnpub.info/files/storage/public/5f/ad/4a6bebbac1a0j5i8d9/grad.png') center top no-repeat
  background-size: cover
  height: auto
  padding: 0

.header-img
  float: right
  max-width: 80px
  padding-top: 14px
  @media screen and (max-width: 600px)
    display: none !important


table.body
  background: #F7F7F7

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.logo
  float: none
  max-width 168px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.app_btn
  width: 116px
  height: 34px
  padding-top: 30px

.footer
  background #F7F7F7
  padding-bottom: 0
  padding-top: 0
  
table.medium-button td
  background: #F95550
  border-radius: 5px !important

.butt
  font-family: Helvetica !important
  color #FFFFFF
  font-size 14px !important
  font-weight 700 !important
  text-transform: uppercase
  border-radius: 5px !important
  letter-spacing: 1px !important
  padding: 21px 0 20px !important

.button-wrapper
  padding: 0 0 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.white-bg
  background: #ffffff

.grey-bg
  background: #F7F7F7

.title
  font-family: Helvetica !important
  color #FF6B68
  font-size 36px
  font-weight 700
  line-height: 46px

.crown
  float: none
  display: block
  margin: 0 auto
  max-width: 40px
  padding-top: 10px

.subtitle
  font-family: Helvetica !important
  color: #FFFFFF
  font-size: 16px
  line-height: 22px
  font-weight: 400
  padding-top: 10px
  padding-bottom: 20px

.black-text
  color: #222327
  font-size: 20px
  line-height: 28px
  font-weight: 700
  font-family: Helvetica !important

.black-title
  font-family: Helvetica !important
  color: #5B358F
  font-size: 30px
  line-height: 38px
  font-weight: 700

.text
  font-family: Helvetica !important
  color #382F44
  font-size 18px
  font-weight 400
  line-height 28px
  strong
    font-family: Helvetica !important

.text a
  color: #2F56D0
  font-weight: 400
  font-family: Helvetica !important
  text-decoration: underline

.text.italic
  font-style: italic

.text.list
  display: list-item
  list-style: none
  padding-left: 20px
  background: url('https://static.cdnpub.info/files/storage/public/5f/ad/7eafe19dd5j2b1a0f5/dot.png') left top 10px no-repeat
  -webkit-background-size: 7px
  background-size: 7px

.law-table
  width: 100% !important
  border: 1px solid #EDEFF3
  border-radius: 3px 
  .first
    padding-left: 30px
    width: 60% !important
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    @media screen and (max-width: 600px)
      padding-left: 15px !important
  .second
    padding-right: 30px
    padding-left: 40px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    @media screen and (max-width: 600px)
      padding-left: 15px !important
      padding-right: 15px !important

.law-head
  background: #F5F8FC
  padding-top: 10px
  padding-bottom: 10px

.law-body
  padding-top: 15px
  padding-bottom: 15px
  border-bottom: 1px solid #EDEFF3

.tab-text
  color: #222327
  font-size: 13px
  line-height: 20px
  font-weight: 400
  font-family: Helvetica !important


.border-block
  display: block
  background: #F5F8FC
  border-radius: 3px
  border: 1px solid #EDEFF3

.rec-top
  padding-left: 30px
  padding-right: 30px
  border-bottom: 1px solid #EDEFF3
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    padding-right: 15px !important

.rec-block
  padding: 20px 30px 10px
  border-bottom: 1px solid #EDEFF3
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    padding-right: 15px !important

.rec-bot
  padding: 20px 30px 10px
  background: #E4E8F1
  @media screen and (max-width: 600px)
    padding-left: 15px !important
    padding-right: 15px !important

.stripe
  display: block
  overflow: hidden
  padding-bottom: 10px

.left
  float: left
.right
  float: right

.receipt-title
  color: #222327
  font-size: 14px
  line-height: 17px
  letter-spacing: 1px
  text-transform: uppercase
  font-weight: 700
  font-family: Helvetica !important
  
.rec-text
  color: #222327
  font-size: 13px
  line-height: 16px
  font-family: Helvetica !important
  font-weight: 400
  letter-spacing: 1px
  text-transform: uppercase
  @media screen and (max-width: 600px)
    font-size: 12px !important
    text-transform: none !important
    letter-spacing: 0 !important

.rec-price
  color: #222327
  font-size: 20px
  line-height: 24px
  font-family: Helvetica !important

.lh24
  line-height: 24px

.asterisk
  color: #838389
  font-size: 14px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important

.liner
  margin: 0 auto
  height: 1px
  width: 100%
  background: #fff !important
  color: #fff !important
  border-bottom: 1px solid #DDE0EA
  margin-top: 21px
  margin-bottom: 17px

.blue-link
  color: #2F56D0
  font-size: 16px
  line-height: 19px
  font-weight: 700
  font-family: Helvetica !important
  letter-spacing: 1px
  text-transform: uppercase

table.row.bot-block
  background: #481C82 url('https://static.cdnpub.info/files/storage/public/5f/ad/4a6bc5ed65c0e7i0f4/grad_small.png') left top no-repeat
  background-size: cover
  border-radius: 15px

.block-title
  color: #FFFFFF
  font-size: 20px
  line-height: 24px
  font-weight: 700
  font-family: Helvetica !important

.arr
  float: none
  display: inline-block
  vertical-align: baseline
  max-width: 7px
  margin-right: 9px

.adr-text
  color: #222327
  font-size: 14px
  line-height: 26px
  font-weight: 400
  font-family: Helvetica !important

.grey-block
  background: #F8F9FB
  border-radius: 6px
  padding: 25px 30px
  border-left: 6px solid #5B358F
  @media screen and (max-width: 600px)
    padding-right: 20px !important
    padding-left: 20px !important

.mb10
  margin-bottom: 10px

.number
  display: inline-block
  padding-right: 20px
  font-weight: 700
  float: left
  padding-bottom: 10px
  @media screen and (max-width: 600px)
    float: none !important
    padding-bottom: 0 !important
    padding-right: 10px !important

.brad-top
  border-top-left-radius 15px
  border-top-right-radius 15px

.brad-bot
  border-bottom-left-radius 15px
  border-bottom-right-radius 15px

.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb25
  padding-bottom: 25px

.pb30
  padding-bottom: 30px

.pb40
  padding-bottom: 40px !important

.pb50
  padding-bottom: 50px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt20-big
  padding-top: 20px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt30
  padding-top: 30px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt50
  padding-top: 50px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.pl20
  padding-left: 20px

.green
  color #00d0bb
  font-size 24px
  
.purple-bg
  background: #FAFAFE

.purple-text
  color: #262294
  font-size: 20px
  line-height: 32px
  font-weight: 700
  font-family: Arial !important

.under
  text-decoration: underline

.break-it
  @media screen and (max-width: 600px)
    font-size: 20px !important
    line-height: 32px !important

.bb
  border-bottom: 1px solid #F1F2F5

p.warning
  text-align: left
  color: #838389 !important
  font-size: 14px
  line-height: 22px
  font-family: Helvetica !important

p.warning .upper
  color #151618
  font-size 14px
  font-weight 700
  text-align: left
  text-transform: uppercase
  padding-bottom: 10px
  display: block
  letter-spacing 1px
  font-family: Helvetica !important

.address-text
  color: #838389 !important
  font-size: 14px !important

.subscribe
  text-align: left !important
  padding-top: 20px

a.left
  color: #838389
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    float: none !important
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #838389
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important

