table.row
    tr
        td.pt40
            a.nopoint(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank")
                img(src="https://fsms.quadcode.com/storage/public/ci/1h/4r6gbu954ogkdu50/banner-2.png" style="max-width: 580px; margin: 0 auto; float: none; width: 100% !important;")
    tr
        td.wrapper.last.pt0.offset-by-one
            
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title-blitz.center.pt24.pb8

                            span.yellow-span ${{ exnova-2706.block_48 }}$
                            |&nbsp;
                        p.text-blitz.center 
                            span.yellow-span 
                            |${{ exnova-2706.block_49 }}$
                        table.w245(align="center")
                            tr
                                td.pt24.pb0 
                                    .button-wrapper.button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=blitz-option&assetId=1345" target="_blank") ${{ exnova-2706.block_50 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-40 &nbsp;
