doctype html
html(xmlns="http://www.w3.org/1999/xhtml")

    include ../../../../vendor/helpers/mixins
    include ../../../../vendor/helpers/head
    body
        include helpers/preheader
        table(background="https://fsms.quadcode.com/storage/public/cg/cr/76nm73k4mm2dgmg0/Group 33 (1) (1).png").body
            tr
                td(align="center", valign="top").center
                    center
                        table.container
                            tr
                                td.pt0
                                    include blocks/header
                                    include helpers/footer


        //Gmail App Fix
        include ../../../../vendor/helpers/gmail-fix
