*
  font-family "Roboto", "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

.white-bg
  background: #ffffff
.blue-bg
  background: #141822
.body
  background: #F5F9FF

.br-full
  border-radius: 16px

.h-12
  height 12px
  font-size: 12px
  line-height: 12px
.header-img
  background: #F5F9FF
  border-radius: 24px
.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle
  @media screen and (max-width: 600px)
    margin 0 auto !important

.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.w100
  width 100%

body
  margin: 0 auto !important
  text-align: center !important

.bg-side
  background:#181E2D
  border-radius: 10px

.item-img 
  float none
  width 100%
  max-width 280px
  margin 0 auto !important
  @media screen and (max-width: 600px)
    max-width 200px !important

.blue-block
  padding: 24px
  background: #F5F9FF
  border-radius: 16px

.black-block
  padding: 12px 24px 27px
  background: #181e2d
  border-radius: 16px

.small-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #413E43

.right-pad
  padding 60px 30px 55px 20px
  @media screen and (max-width: 600px)
    padding 20px !important

.left-pad
  padding 24px 25px 26px 50px
  @media screen and (max-width: 600px)
    padding 20px !important

.left-side
  display: inline-block
  width 234px
  border-radius: 16px
  vertical-align: top
  margin-bottom 12px
  margin-right 7px
  background #181e2d

  @media screen and (max-width: 600px)
    float none !important
    display block !important 
    width 100% !important
    
.pd16
  padding 16px 20px

.right-side
  display: inline-block
  width 234px
  border-radius: 16px
  vertical-align: top
  margin-bottom 12px
  background #181e2d
  float right
  @media screen and (max-width: 600px)
    float none !important
    display block !important 
    width 100% !important

.fat-white-text
  font-family: Helvetica !important
  font-weight: 700
  font-size: 15px
  line-height: 18px
  color: #FFFFFF
  vertical-align: middle

.emoji-small
  display inline-block
  width 24px !important
  float none
  padding-right 6px
  vertical-align: middle

.emoji-big
  display inline-block
  width 52px !important
  float none
  padding-right 6px
  vertical-align: middle


.nopoint
  cursor: default !important

  
.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important
    margin o auto !important

.butt
  background #0173CA
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto

.butt-link
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #ffffff
  display block
  padding: 18px 0 18px
  text-align center
  letter-spacing 0px

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important


.title
  font-family: Helvetica !important
  color: #373437
  font-size: 48px
  line-height: 58px
  font-weight: 700
  @media screen and (max-width: 600px)
    font-size: 34px !important
    line-height: 38px !important
  @media screen and (max-width: 420px) 
    font-size: 30px !important
    line-height: 34px !important


.title-white
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 36px
  color: #ffffff
  @media screen and (max-width: 600px)
    font-size 28px !important
    line-height 32px !important

.white-title
  color: #ffffff
  font-size: 32px
  line-height: 38px
  font-weight: 700
  font-family: Helvetica !important
  @media screen and (max-width: 600px)
    text-align: center !important


.blue-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #299EF6
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important

.white-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #FFFFFF

.big-white
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #FFFFFF

.yello
  color: #FAD44E !important

.text
  font-family: Helvetica !important
  color: #262832
  font-size 16px
  font-weight 400
  line-height 24px

.text-center
  color #ffffff
  font-size 24px
  line-height 28px
  font-weight 700
  text-align: center

.address-text
  color: #293753 !important
  font-size: 14px !important

.subscribe
  text-align: left !important
  padding-top: 20px

a.left
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: left
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #293753
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important
    padding-right: 0 !important



.pb0
  padding-bottom: 0
.pb2 
  padding-bottom: 2px
.pb4
  padding-bottom: 4px
.pb10
  padding-bottom: 10px
.pb12
  padding-bottom: 12px
.pb13
  padding-bottom: 13px
.pb15
  padding-bottom: 15px
.pb16
  padding-bottom: 16px
.pb20
  padding-bottom: 20px

.pb24
  padding-bottom: 24px

.pb25
  padding-bottom: 25px

.pb28  
  padding-bottom: 28px  

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px
  
.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px
.pb70
  padding-bottom: 70px
.pb210
  padding-bottom: 210px

.pt0
  padding-top: 0

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt16
  padding-top: 16px

.pt20
  padding-top: 20px

.pt24
  padding-top: 24px

.pt25
  padding-top: 25px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px
.pt44
  padding-top: 40px
.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important

.grey-block
  background: #F5F9FF
  border-radius: 24px
  padding 24px
.w-a
  width auto !important
.m-w
  min-width 80px !important
.small-img
  width: 56px !important
  float none

.stor
  width 100%
  margin 0 auto
  text-align: center
  @media screen and (max-width: 600px)
    width 100% !important

.a-google
  display inline-block
  padding 10px 12px !important
  max-width 215px !important
  height 52px !important
  float: none !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.mar0
  margin: 0 10px !important

.soc-icon
  float: none
  max-width: 24px

.ig
  max-width 20px
  margin-left 6px
  @media screen and (max-width: 600px)
    width 20px !important
.you
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.twitter
  max-width 24px
  margin 0 6px
  @media screen and (max-width: 600px)
    width 24px !important

.fb
  max-width 24px
  margin-right 6px
  @media screen and (max-width: 600px)
    width 24px !important