*
  font-family "Helvetica", "Arial", sans-serif !important

.vertical
  vertical-align middle !important

.wr-text
  @media screen and (max-width: 600px)
    padding 20px 20px 0 20px

body
  margin: 0 auto !important
  text-align: center !important

table.row.header
  border-radius: 15px
  background: #481c82 url('https://static.cdnpub.info/files/storage/public/5f/ad/4a6bebbac1a0j5i8d9/grad.png') center top no-repeat
  background-size: cover
  height: auto
  padding: 0

.header-img
  float: right
  max-width: 80px
  padding-top: 14px
  @media screen and (max-width: 600px)
    display: none !important

.bb
  border-bottom: 1px solid #EEF1F3

table.body
  background: #EBEFF6

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  float: none
  max-width 168px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.footer
  background #EBEFF6
  padding-bottom: 0
  padding-top: 0

table.medium-button td
  background: #2DC985
  border-radius: 3px !important

.butt
  font-family: Helvetica !important
  color #FFFFFF
  font-size 14px !important
  font-weight 700 !important
  border-radius: 3px !important
  letter-spacing: 1 !important
  padding: 19px 0 18px !important
  text-transform uppercase

.button-wrapper
  //padding: 5px 0 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.white-bg
  background: #ffffff

.title
  font-family: Helvetica !important
  color #FF6B68
  font-size 38px
  font-weight 700
  line-height: 48px

.code
  font-family: Helvetica !important
  color: #382F44
  font-size: 38px
  font-weight 700
  line-height: 46px
  @media screen and (max-width: 600px)
    font-size: 32px !important
    line-height: 38px !important

.text
  font-family: Helvetica !important
  color #382F44
  font-size 18px
  font-weight 400
  line-height 28px
  strong
    font-family: Helvetica !important

.text a
  color: #2F56D0
  font-weight: 400
  font-family: Helvetica !important
  text-decoration: underline

.italic
  font-style: italic
  color: #474A50

.text.list
  display: list-item

.mb10
  margin-bottom: 10px

.pb0
  padding-bottom: 0

.pb5
  padding-bottom: 5px

.pb10
  padding-bottom: 10px

.pb15
  padding-bottom: 15px

.pb20
  padding-bottom: 20px

.pb30
  padding-bottom: 30px

.pb40
  padding-bottom: 40px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt20
  padding-top: 20px

.pt24
  padding-top: 24px

.pt20-big
  padding-top: 20px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt30
  padding-top: 30px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px

.pt7
  padding-top 7px

.pt60
  padding-top: 60px

.pt70
  padding-top: 70px


.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.grey-block
  background: #F8F9FB
  border-radius: 6px
  padding: 25px 30px
  border-left: 6px solid #5B358F
  @media screen and (max-width: 600px)
    padding-right: 20px !important
    padding-left: 20px !important

.small-text
  font-family: Helvetica !important
  color: #382F44
  font-size 14px
  font-weight 400
  line-height 22px
  letter-spacing: 0

.small-text a
  color: #2F56D0
  font-weight: 400

.brad-top
  border-top-left-radius 15px
  border-top-right-radius 15px

.brad-bot
  border-bottom-left-radius 15px
  border-bottom-right-radius 15px

a.terms
  color: #838389
  font-size: 14px
  line-height: 22px
  font-weight: 400
  font-family: Helvetica !important
  text-decoration: underline
  display: inline-block
  margin: 0 10px

.ml0
  margin-left: 0

.socials
  display: block
  font-size: 0
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.first-link
  margin-left: 0
  @media screen and (max-width: 600px)
    margin-left: 10px !important

.last-link
  margin-right: 0
  @media screen and (max-width: 600px)
    margin-right: 10px !important

.soc-icon
  float: none
  max-width: 40px

.footer-text
  font-family: Helvetica !important
  font-size: 14px
  color: #838389
  letter-spacing: 0
  line-height: 22px

.strong
  font-weight 700 !important

