p, span, b, div
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  font-family "Helvetica", "Arial", sans-serif !important

table.row.header
  background #F7F7FC
  height: 86px


.under-img
  float none
  background: #F7F7FC
  border-radius: 16px
.bgr
  background-position top center
  background-repeat: no-repeat
  background-size: cover
  min-height: auto
  border-radius: 10px
.logo
  display inline-block
  float: none
  max-width 130px
  padding-left: 0
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-bottom 10px !important

.arr
  float: none
  display: inline-block
  max-width: 18px
  padding-left: 5px
  vertical-align: middle

.go-invest
  display inline-block
  font-family: Helvetica !important
  font-weight: 600
  font-size: 16px
  line-height: 22px
  letter-spacing: -0.25px
  color: #00589E
  text-align: right 
  float: right 
  padding-top 5px

.icon
  width 24px
  float none !important
  display inline-block
  padding-right 5px
  max-width 24px
  padding-bottom 5px
  vertical-align middle
.orange-text
  font-family: Helvetica !important
  font-weight 700
  font-size: 60px
  color: #0B79CC
  line-height 80px
  @media screen and (max-width: 600px)
    font-size 50px !important
    line-height 70px !important

.orange-text2
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 25px
  line-height: 32px
  letter-spacing: 0.01em
  color: #0B79CC

.back-bot
  background: #F7F7FC
  border: 1px solid #4572FF
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px


.pr60
  padding-right 60px !important


.brad-full
  border-radius 16px !important

.brad-top
  border-radius 10px 10px 0 0!important

.brad-bot
  border-radius 0 0 10px 10px!important

table.body
  background: #F7F7FC

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.terms
  text-align center
  font-size 18px
  color #ffffff
  line-height 1.4em
  font-weight 300
  margin 0 0 10px 0
  .big
    font-size 20px
    color #ff7700
    font-weight 500

.img-logo
  width 240px
  padding-top 32px
  padding-bottom 32px
  padding 14px 0
  margin 0 auto
  @media screen and (max-width: 600px)
    max-width: 240px !important

.footer
  background #F1F2F5
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px dashed #D9D9DB

table.medium-button td
  background: #E0E8FF
  border-radius: 3px !important

.butt
  background #0B79CC
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height auto

.butt-2
  background none !important
  font-size 18px !important
  font-weight 700 !important
  border-radius: 12px !important
  text-transform: none
  font-family: Helvetica !important
  height 52px
  border: 2px solid #0B79CC

.butt-link
  font-size 18px
  font-weight 700
  text-transform none
  text-decoration: none
  color #ffffff
  display block
  padding: 16px 0 16px
  text-align center
  letter-spacing: 0 !important

.button-wrapper
  padding-top: 0
  padding-bottom: 0
  @media screen and (max-width: 600px)
    padding-left: 30px !important
    padding-right: 30px !important

.button-wrapper_top
  padding-top: 0
  padding-bottom: 25px

.button-wrapper_bot
  padding-top: 20px

.button-wrapper_top table.medium-button td
  background: #4572FF

.button-wrapper_bot table.medium-button td
  background: #4572FF

.white-bg
  background: #ffffff

.blue-bg
  background: #f8fbff

.img-head
  width 480px
  padding-bottom 35px

.title
  font-family: Helvetica !important
  font-weight 700
  font-size: 48px
  color: #2F3749
  line-height 58px
  @media screen and (max-width: 600px)
    font-size 26px !important
    line-height 32px !important

.small-title
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 31px
  color: #3E3752
  @media screen and (max-width: 600px)
    font-size 20px !important
    line-height 28px !important

.middle-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 42px
  color: #393A44
  vertical-align: middle
  @media screen and (max-width: 600px)
    font-size 24px !important
    line-height 32px !important


.title-head
  font-family: Helvetica !important
  font-weight 700
  font-size: 32px
  color: #413E43
  line-height 42px
  @media screen and (max-width: 600px)
    font-size 28px !important
    line-height 38px !important

.text
  font-family: Helvetica !important
  font-size: 18px
  font-style: normal
  font-weight: 400
  color: #3E3752
  letter-spacing: 0
  line-height: 27px

.text-2
  font-family: Helvetica !important
  font-size: 20px
  color: #413E43
  letter-spacing: 0
  line-height: 26px
  font-weight 700
  @media screen and (max-width: 600px)
    font-size 18px !important
    line-height 24px !important

.text-head
  font-family: Helvetica !important
  font-size: 16px
  color: #454141
  letter-spacing: 0
  line-height: 22px
  padding-top 32px
  padding-bottom 25px
  @media screen and (max-width: 600px)
    padding-right 0 !important

.subtitle
  font-family: Helvetica !important
  font-weight 700
  font-size: 24px
  color: #413E43
  // letter-spacing: 0
  line-height 32px
  @media screen and (max-width: 600px)
    font-size 22px !important
    line-height 30px !important



.grey-text
  font-family: Helvetica !important
  font-size: 18px
  color: #71717D
  letter-spacing: 0
  line-height: 24px


.asset-text
  font-family: Helvetica !important
  font-size: 18px
  color: #2D323E
  letter-spacing: 0
  line-height: 22px
  text-align center
.pl10
  padding-left 10px
.pl15
  padding-left 15px
.pr10
  padding-right 10px

.pr100
  padding-right 100px

.big
  font-weight 700

.text.bold
  font-weight: 700

.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  text-align: center
  line-height: 22px

.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  word-break break-word
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important

.custom-padding 
  white-space: nowrap
  padding-left 10px

.pb0
  padding-bottom: 0

.pb3
  padding-bottom: 3px

.pb4
  padding-bottom: 4px

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px

.pb10
  padding-bottom: 10px

.pb11
  padding-bottom: 11px

.pb12
  padding-bottom: 12px !important

.pb13
  padding-bottom: 16px

.pb15
  padding-bottom: 15px

.pb16
  padding-bottom: 16px

.pb18
  padding-bottom: 18px
.pb20
  padding-bottom: 20px
.pb22
  padding-bottom: 22px
.pb24
  padding-bottom: 24px
.pb25
  padding-bottom: 25px

.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px
.pb33
  padding-bottom: 33px

.pb35
  padding-bottom: 35px

.pb38
  padding-bottom: 38px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px
.pb48
  padding-bottom: 48px

.pb50
  padding-bottom: 50px

.pb60
  padding-bottom: 60px

.pb96
  padding-bottom: 96px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt10
  padding-top: 10px

.pt15
  padding-top: 15px

.pt17
  padding-top: 17px
  @media screen and (max-width: 600px)
    padding-top: 5px !important

.pt25-a
  padding-top: 25px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt20
  padding-top: 20px

.pt24
  padding-top: 24px

.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt28
  padding-top: 28px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt33
  padding-top: 33px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt42
  padding-top: 42px

.pt44
  padding-top: 44px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pl30
  padding-left 30px

.pl50
  padding-left: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important

.ml0
  margin-left 0
  @media screen and (max-width: 600px)
    margin-left 10px !important
.mr0
  margin-right 0
  @media screen and (max-width: 600px)
    margin-right 10px !important
.plr7
  margin 0 5px
.plr10
  padding-left: 10px
  padding-right: 10px
  @media screen and (max-width: 600px)
    padding-left: 0 !important
    padding-right: 0 !important
.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important
.plr30
  padding-left: 40px
  padding-right: 40px
  @media screen and (max-width: 600px)
    padding-left: 5px !important
    padding-right: 5px !important
.plr50
  padding-left: 48px
  padding-right: 48px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0
  

.bg-col
  background-color #F7F7FC

.pad-title
  padding 0 8px 20px 31px
  @media screen and (max-width: 600px)
    padding 0 !important
    text-align center !important

.pl30
  padding-left 30px

.wh500
  width 500px

.pr100
  padding-right 108px

.pb33
  padding-bottom 33px !important

.socials
  display: inline-block
  font-size: 0
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none
  max-width: 24px

.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50 !important
  letter-spacing: 0
  line-height: 22px

.pr50
  padding-right 50px !important

.pr30
  @media screen and (max-width: 600px)
    padding-right 30px !important

.social-links
  display: block
  text-align: center


.mb40
  margin-bottom 40px

.pt1
  padding-top 1px !important

.item-new
  font-family: Helvetica !important
  font-weight 700
  font-size: 19px;
  color: #454141;
  letter-spacing: 0;
  line-height: 29px
  clear: both !important
.pt13
  padding-top: 13px
.pl25
  padding-left 25px !important


.pr7
  padding-right 7px !important


.pr5
  padding-right 5px
  @media screen and (max-width: 600px)
    padding-right 0 !important


.pr55
  padding-right 55px
  @media screen and (max-width: 600px)
    padding-right 0 !important

.col-vhite
  color #FFFFFF !important
  font-weight 400 !important

.pr24
  padding-right 24px

.pr27
  padding-right 27

.fl-l
  float left
  @media screen and (max-width: 600px)
    float none !important
    margin 0 auto !important
    text-align center
.fl-r
  float right

.pta
  @media screen and (max-width: 600px)
    padding-top 20px !important
    display block !important
.cl-b
  clear both

.col-black
  color #000000 !important


.pt19
  padding-top 19px

.link
  color: #4882ff  


.padding
  padding 14px 20px

.mar-mob
  margin 0 10px

.h-12
  font-size 8px
  line-height 12px
  height 12px

.h-16
  font-size 8px
  line-height 16px
  height 16px

.h-20
  font-size 8px
  line-height 20px
  height 20px

.h-30
  font-size 8px
  line-height 30px
  height 30px

.div-butt
  display inline-block
  width 148px
  background #0081E3
  border-radius: 5px
  // float none
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    margin-bottom 20px !important

.center-block 
  margin: 0 10px
  @media screen and (max-width: 600px)
    display block !important
    width 100% !important
    margin: 0px 0px 20px 0px !important   

.butt-p
  color #ffffff
  font-size 12px !important
  font-weight 700 !important
  text-transform: uppercase
  letter-spacing: 1px !important
  padding: 16px 2px !important
  font-family: Helvetica !important
  text-align center !important

.stor
  width 100% !important
  max-width: 450px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important

.a-app
  display inline-block
  padding 10px 12px
  max-width 155px
  height 50px !important
  float: none !important
  // @media screen and (max-width: 600px)
    // display block !important
    // padding-right 0 !important
    // float none !important
    // margin-bottom 15px
    // margin 0 auto !important
    // padding-bottom 15px !important

.a-google
  display inline-block
  padding 10px 12px !important
  max-width 215px !important
  height 52px !important
  float: none !important
  // @media screen and (max-width: 600px)
    // display block !important
    // float none !important
    // margin 0 auto !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none !important
  max-width: 24px


.blue-link
  display block
  font-size 14px
  line-height 16px
  font-weight 700
  text-transform uppercase
  text-decoration none !important
  color #4882FF !important
  text-align center !important


.box-icon
  float: none
  display block
  max-width: 100px !important
  width 100px !important
  margin 0 auto !important

.w100
  width: 100%

.w280
  width 100%
  max-width 280px
  @media screen and (max-width: 600px)
    min-width 100% !important



.w208
  width 100%
  max-width 208px



.tar
  text-align right
  @media screen and (max-width: 600px)
    text-align left !important

table[class="body"] table.columns td.mob-td
  @media screen and (max-width: 600px)
    width auto !important

.brake-word
  word-break: break-word

.gray-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #84868B


.bt-dash
  border-top 1px dashed #DEDEDE

.grey-box
  padding 24px
  background #F7F7FC
  border-radius 24px
  @media screen and (max-width: 600px)
    padding 20px !important
.grey-box-2
  background #F7F7FC
  border-radius: 16px
  padding 10px 20px 0
.grey-box-3
  background #F7F7FC
  border-radius: 16px
  padding 8px 20px 


.digit
  background #E4ECF4
  text-align center
  padding 4px
  border-radius 16px
  width: 46px
  height 46px

table[class="body"] table.columns td.auto
  width auto !important

table[class="body"] table.columns td.w74
  width 74px !important


.digit-text
  font-family: Helvetica !important
  font-weight 700
  font-size: 24px
  color: #413E43
  // letter-spacing: 0
  line-height 46px

.inside-block
  padding 32px

.blue-block-big
  background: #FFEFE0
  border-radius: 20px

.grey-block
  border-radius: 20px
  border 1px solid #ECECED
  padding 24px 32px
  @media screen and (max-width: 600px)
    padding 18px 20px !important


.left-block
  float left
  display inline-block
  width 236px
  // background: #F9F9F9
  // border-radius: 20px
  margin-bottom 8px
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto 8px !important
    // width 100% !important
    // max-width: 230px !important
    min-height: auto !important

.padd
  padding: 12px 24px

.right-block
  float right
  display inline-block
  width 236px
  // background: #F9F9F9
  // border-radius: 20px
  margin-bottom 8px
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto 8px !important
    // width auto !important
    // max-width: 230px !important
    min-height: auto !important

.middel-block
  display inline-block
  width 153px
  margin-bottom 8px
  vertical-align: top

.small-block
  display inline-block
  width 109px
  margin-bottom 8px
  margin-right 8px
  vertical-align: top

.last-block
  margin-right 0 !important
.pic
  display block
  float none !important
  margin: 0 auto !important
  max-width: 213px
  width 213px

.bg1
  background url('https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dq0/one-exnova.png') right bottom no-repeat
  background-size contain
  @media screen and (max-width: 450px)
    background-size 150px !important

.bg-1
  background url('https://fsms.iqoption.com/storage/public/cv/pp/fnrjqakhdj8lo720/bg-1.png') right center no-repeat
  background-size 240px
  background-color #ffffff
  @media screen and (max-width: 600px)
      background url('https://fsms.iqoption.com/storage/public/cv/pp/fnrjqakhdj8lo720/bg-1.png') top center no-repeat !important
      background-size 150px !important
      background-color #ffffff !important

.block-280
  max-width 280px
  @media screen and (max-width: 600px)
    padding-top 172px !important
    max-width: 100% !important

.orange-date
  display: inline-block
  padding: 6px 16px
  background: #E8F4FD
  border-radius: 12px
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 18px
  line-height: 27px
  color: #2B2D36

.clock
  background url('https://fsms.quadcode.com/storage/public/d0/uq/n51msj7oc3be3dhg/Icon.png') right top 51px no-repeat
  background-size 24px
  @media screen and (max-width: 600px)
    background url('https://fsms.quadcode.com/storage/public/d0/uq/n51msj7oc3be3dhg/Icon.png') right 20px top 51px no-repeat !important
    background-size 24px !important

.block-0
  box-sizing: border-box;
  width: 64px
  height: 64px
  border: 3px solid #0B79CC
  border-radius: 82.0513px
  padding 15px
  display block
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  text-align: center
  color: #413E43
  vertical-align: middle
  
.pt12
  padding-top 12px

.block-line
  display block
  width 20px
  height 25px
  border-right 3px solid #0B79CC
  padding-left 10px

.block-small
  height 6px
  font-size: 6px
  line-height: 6px
.w-a-2
  width auto !important
  vertical-align: top
  padding-bottom 0 !important
.pt7
  padding-top 7px
.m-w-2
  min-width 86px