table.row.footer
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.pb50.text-pad-small
                        p.warning.pb10 {{embedded.risk_warning}}
                        p.warning {{embedded.company_address}}
                        p.subscribe
                            a.left(href="{{embedded.company_terms_link}}" target="_blank") ${{ footer.footer.conditions }}$
