table.row.footer
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb50
                        p.footer-text.pb20 {{embedded.company_address}}
                        p.footer-text.pb20 {{embedded.risk_warning}}
                        a.terms.ml0(href='{{embedded.company_terms_link}}' target="_blank") ${{ footer.footer.conditions }}$
                        a.terms(href='{{embedded.unsubscribe_link}}' target="_blank")  ${{ footer.footer.unsubscribe }}$

