doctype html
html(xmlns="http://www.w3.org/1999/xhtml")

    include ../../../../vendor/helpers/mixins
    include ../../../../vendor/helpers/head
    body
        include helpers/preheader
        table.overbody
            tr
                td.center
                    table.body
                        tr
                            td(align="center", valign="top").center
                                center
                                    table.container
                                        tr
                                            td.pb50
                                                include blocks/header

                    table.body
                        tr
                            td
                                table.body-2
                                    tr
                                        td(align="center", valign="top").center
                                            center.centerino
                                                table.container.containerino
                                                    tr
                                                        td
                                                            include blocks/second

                    table.body
                        tr
                            td(align="center", valign="top").center
                                center
                                    table.container
                                        tr
                                            td
                                                include blocks/third
                                                include helpers/footer

        //Gmail App Fix
        include ../../../../vendor/helpers/gmail-fix



