p, span, b, div
  font-family "Helvetica", "Arial", sans-serif !important

body
  margin: 0 auto !important
  text-align: center !important
  font-family "Helvetica", "Arial", sans-serif !important

table.row.header
  background #f2f3f5
  height: 86px

.bgr
  background-position top center
  background-repeat: no-repeat
  background-size: cover
  min-height: auto
  border-radius: 10px

.img-logo
  width 401px
  padding-top 32px
  padding-bottom 32px

.data-img
  display: inline-block
  float: none
  width: 24px !important
  padding-right 8px
  vertical-align: middle

.data-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #413E43
  vertical-align: middle

.back-bot
  background: #F7F9FF
  border: 1px solid #4572FF
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

.banner
  width 100%
  max-width 480px
  display block
  float none !important
  @media screen and (max-width: 600px)
    max-width: 580px !important

.pr60
  padding-right 60px !important


.brad-full
  border-radius 16px !important

.brad-top
  border-radius 10px 10px 0 0!important

.brad-bot
  border-radius 0 0 10px 10px!important

table.body
  background: #F1F2F5

.text-pad-small
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.text-pad-small-right
  @media screen and (max-width: 600px)
    padding-right: 20px !important

.center
  text-align: center
  margin: 0 auto

.logo
  float: none
  width 442px
  padding-top: 12px
  padding-bottom: 32px
  @media screen and (max-width: 600px)
    margin 0 auto !important
    width 100% !important

.orange-text
  display: inline-block
  // max-width: 310px
  background: #ffe6d5
  border-radius: 10px
  padding 4px 10px
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.8px
  text-transform: uppercase
  color: #FF8516
  margin 0 auto

.footer
  background #F1F2F5
  padding-bottom: 0
  padding-top: 0

.bb
  border-bottom: 1px solid #ececed

table.medium-button td
  background: #E0E8FF
  border-radius: 3px !important

.button-wrapper_top
  padding-top: 0
  padding-bottom: 25px

.button-wrapper_bot
  padding-top: 20px

.white-bg
  background: #ffffff

.blue-bg
  background: #f8fbff

.img-head
  width 480px
  padding-bottom 35px

.text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #413E43

.big
  font-weight 700

.warning
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50
  letter-spacing: 0
  text-align: center
  line-height: 22px

.subscribe
  text-align: left !important
  padding-top: 20px
  margin 0 auto

a.left
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: left
  word-break break-word
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    padding-bottom: 10px !important

a.right
  color: #474A50
  font-weight: 400
  display: inline-block
  text-align: right
  float: right
  @media screen and (max-width: 600px)
    display: block !important
    text-align: center !important
    float: none !important

.custom-padding 
  white-space: nowrap
  padding-left 10px

.pb0
  padding-bottom: 0 !important

.pb2
  padding-bottom: 2px

.pb3
  padding-bottom: 3px

.pb4
  padding-bottom: 4px

.pb5
  padding-bottom: 5px

.pb7
  padding-bottom: 7px

.pb10
  padding-bottom: 10px

.pb11
  padding-bottom: 11px

.pb12
  padding-bottom: 12px

.pb13
  padding-bottom: 16px

.pb15
  padding-bottom: 15px
.pb16
  padding-bottom: 16px
.pb18
  padding-bottom: 18px

.pb20
  padding-bottom: 20px
.pb22
  padding-bottom: 22px
.pb24
  padding-bottom: 24px

.pb25
  padding-bottom: 25px

.pb28
  padding-bottom: 28px

.pb30
  padding-bottom: 30px

.pb32
  padding-bottom: 32px

.pb33
  padding-bottom: 33px

.pb35
  padding-bottom: 35px

.pb38
  padding-bottom: 38px

.pb40
  padding-bottom: 40px

.pb44
  padding-bottom: 44px

.pb48
  padding-bottom: 48px

.pb50
  padding-bottom: 50px
.pb55
  padding-bottom: 55px
.pb60
  padding-bottom: 60px

.pb96
  padding-bottom: 96px

.pt0
  padding-top: 0

.pt5
  padding-top: 5px

.pt12
  padding-top: 12px
.pt8
  padding-top: 8px
.pt10
  padding-top: 10px

.pt15
  padding-top: 15px
.pt16
  padding-top: 16px
.pt17
  padding-top: 17px

.pt25-a
  padding-top: 25px
  @media screen and (max-width: 600px)
    padding-top: 0 !important

.pt20
  padding-top: 20px
.pt24
  padding-top: 24px
.pt25
  padding-top: 25px

.pt27
  padding-top: 27px

.pt28
  padding-top: 28px

.pt30
  padding-top: 30px

.pt32
  padding-top: 32px

.pt33
  padding-top: 33px

.pt35
  padding-top: 35px

.pt40
  padding-top: 40px

.pt42
  padding-top: 42px

.pt44
  padding-top: 44px

.pt45
  padding-top: 45px

.pt50
  padding-top: 50px
.pl30
  padding-left 30px

.pl50
  padding-left: 50px
  @media screen and (max-width: 600px)
    padding-left: 20px !important


.plr30
  padding-left: 30px
  padding-right: 30px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.plr50
  padding-left: 48px
  padding-right: 48px
  @media screen and (max-width: 600px)
    padding-left: 20px !important
    padding-right: 20px !important

.under
  text-decoration: underline

.mobile-paddding
  padding: 32px 50px 0

.bg-col
  background-color #F9F9F9
//F5f5f8
.pad-title
  padding 0 8px 20px 31px
  @media screen and (max-width: 600px)
    padding 0 !important
    text-align center !important

.pl30
  padding-left 30px

.socials
  display: inline-block
  font-size: 0
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important
  a
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important


.address-text
  font-family: Helvetica !important
  font-size: 14px
  color: #474A50 !important
  letter-spacing: 0
  line-height: 22px


.social-links
  display: block
  text-align: center


.bg-grey
  background #F3F6FB

.mb40
  margin-bottom 40px

.pt1
  padding-top 1px !important

.pt13
  padding-top: 13px
.pl25
  padding-left 25px !important

.pr7
  padding-right 7px !important

.fl-l
  float left
  @media screen and (max-width: 600px)
    float none !important
    margin 0 auto !important
    text-align center
.fl-r
  float right


.cl-b
  clear both

.col-black
  color #000000 !important

.pt19
  padding-top 19px


.link
  color: #4882ff  


.padding
  padding 14px 20px


.h-12
  font-size 8px
  line-height 12px
  height 12px

.h-20
  font-size 8px
  line-height 20px
  height 20px

.h-30
  font-size 8px
  line-height 30px
  height 30px
.div-butt
  display inline-block
  width 100%
  max-width 280px
  background #FF7700
  border 2px solid #FF7700
  border-radius: 12px
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    max-width: 100% !important

.div-butt2
  display inline-block
  width 100%
  max-width 280px
  background none
  border 2px solid #FF7700
  border-radius: 12px
  // float none
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    // width 100% !important
    max-width: 100% !important
    // margin-bottom 20px !important

.right-block 
  // float right
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    margin-bottom 0px !important
 
.butt-p
  color #F9F9F9
  font-size 18px !important
  font-weight 700 !important
  letter-spacing: 0px !important
  padding: 14px 4px !important
  font-family: Helvetica !important
  text-align center !important

.butt-p2
  color #393A44 !important
  font-size 18px !important
  font-weight 700 !important
  letter-spacing: 0px !important
  padding: 14px 4px !important
  font-family: Helvetica !important
  text-align center !important

.stor
  width 361px
  margin 0 auto
  @media screen and (max-width: 600px)
    width 100% !important

.a-app
  display inline-block
  padding-right 30px
  max-width 120px
  height 40px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    padding-right 0 !important
    float none !important
    margin-bottom 15px
    margin 0 auto !important
    padding-bottom 15px !important

.a-google
  display inline-block
  max-width 135px
  height 40px !important
  float: none
  @media screen and (max-width: 600px)
    display block !important
    float none !important
    margin 0 auto !important

.socials
  display: block
  font-size: 0
  margin 0 auto
  text-align center
  a
    display: inline-block
    vertical-align: middle
    margin: 0 15px
    @media screen and (max-width: 600px)
      margin-bottom: 10px !important

.soc-icon
  float: none !important
  max-width: 24px


.w100
  width 100%
  max-width: 480px
  margin 0 auto !important
  @media screen and (max-width: 600px)
    max-width 580px !important


.title
  font-family: Helvetica !important
  font-weight 700
  font-size: 48px
  color: #373437
  line-height 58px
  @media screen and (max-width: 600px)
    font-size 34px !important
    line-height 46px !important

.middle-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 32px
  line-height: 43px
  color: #413E43
  @media screen and (max-width: 600px)
    font-size 28px !important
    line-height 37px !important
.under-middle-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 32px
  color: #413E43
  @media screen and (max-width: 600px)
    font-size 20px !important
    line-height 30px !important

.orange-border
  border-left: 4px solid #f70
  padding-left: 24px
  padding-top 15px
  padding-bottom 15px
.simple-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 36px
  line-height: 41px
  color: #413E43
  @media screen and (max-width: 600px)
    font-size 28px !important
    line-height 37px !important
.gray-table 
  border-radius: 20px
  background-color: #F9F9F9
  padding 24px 32px

.left-side 
  display: inline-block
  width 68%
  vertical-align: top
  @media screen and (max-width: 600px)
    width 100% !important

.right-side
  display: inline-block
  width 30%
  vertical-align: top
  @media screen and (max-width: 600px)
    width 100% !important
.left-side-2
  display: inline-block
  width 58%
  vertical-align: top
  @media screen and (max-width: 600px)
    width 100% !important

.right-side-2
  display: inline-block
  width 40%
  vertical-align: top
  @media screen and (max-width: 600px)
    width 100% !important
.m-w
  min-width 64px !important
  vertical-align: middle
  width 64px !important

.m-w2
  min-width 24px !important
  width 24px !important
  vertical-align: top

.orange-small
  float: none
  width 24px !important

.w-a
  width auto !important
  vertical-align: middle

.asset-img
  float none
  width 48px !important
.asset-name 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #2D323E

.short-asset-name
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #2D323E

.right-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  text-align: right
  color: #2D323E
  @media screen and (max-width: 600px)
    text-align: left !important

.green-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 32px
  line-height: 48px
  color: #00A328
  text-align: center
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important
    text-align: center !important
.red-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 32px
  line-height: 48px
  color: #F23A3A
  text-align: center
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important
    text-align: center !important

.small-green-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 24px
  line-height: 28px
  text-align: right
  color: #00A328
  @media screen and (max-width: 600px)
    text-align: left !important
.small-red-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 24px
  line-height: 28px
  text-align: right
  color: #F23A3A
  @media screen and (max-width: 600px)
    text-align: left !important
// #F23A3A
// #00A328
.red-imp  
  color: #00A328  !important
.left-side-bottom
  display: inline-block
  width 42%
  vertical-align: middle
  @media screen and (max-width: 600px)
    width 100% !important

.right-side-bottom
  display: inline-block
  width 43%
  vertical-align: middle
  @media screen and (max-width: 600px)
    width 100% !important

.arrow
  display: inline-block
  vertical-align: middle
  width 20px 
  padding 0 9px
  @media screen and (max-width: 600px)
    width 1px !important
    max-width: 0.1px !important

.arrow-bottom
  display: inline-block
  vertical-align: middle
  width 1px 
  max-width: 0.1px 
  @media screen and (max-width: 600px)
    display block !important
    margin 0 auto !important
    padding 10px 0
    width 20px !important
    max-width: 20px !important

.black-text
  font-family: Helvetica !important
  font-weight: 400
  font-size: 32px
  line-height: 48px
  color: #393A44
  @media screen and (max-width: 600px)
    font-size: 24px !important
    line-height: 32px !important


.center-mobile
  @media screen and (max-width: 600px)
    text-align: center !important
    margin: 0 auto !important

.left-block 
  display: inline-block
  width: 228px
  border: 2px solid #EAE9E9
  border-radius: 24px
  vertical-align: top
  margin-right 9px
  max-width: 228px
  @media screen and (max-width: 600px)
    display: block !important
    margin 0 auto 15px !important

.right-block 
  display: inline-block
  width: 228px
  border: 2px solid #EAE9E9
  border-radius: 24px
  vertical-align: top
  max-width: 228px
  @media screen and (max-width: 600px)
    display: block !important
    margin: 0 auto !important

.padding-iside
  padding 20px

.gray-block
  border-radius: 20px
  background-color: #F9F9F9
  padding 20px 32px
  @media screen and (max-width: 600px)
    padding: 18px !important

.first-column
  width 5% !important
  min-width: 56px
  vertical-align: middle
  @media screen and (max-width: 600px)
    min-width: 26px !important
    width: 26px !important

.second-column
  width 70% !important
  vertical-align: middle

.thirth-column
  width 23% !important
  vertical-align: middle

.just-number 
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  color: #000000
  padding 0 10px
  @media screen and (max-width: 600px)
    font-size: 16px !important
    line-height: 20px !important
    padding 0 !important

.traider 
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 22px
  color: #413E43
  vertical-align: middle
  @media screen and (max-width: 600px)
    font-size: 16px !important
    line-height: 20px !important

.traiders-flag
  display: inline-block
  float none
  width 44px 
  padding-right 12px
  vertical-align: middle
  max-width: 44px 
  @media screen and (max-width: 600px)
    width 24px !important
    max-width: 24px !important

.small-green-number
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 22px
  text-align: right
  color: #12A557
  @media screen and (max-width: 600px)
    font-size: 16px !important
    line-height: 20px !important

.img-update
  display: inline-block
  vertical-align: top

.fl-r
  float: right 

.tournament-name
  font-family: Helvetica !important
  font-weight: 700
  font-size: 20px
  line-height: 30px
  // font-size: 24px
  // line-height: 36px
  color: #413E43

.little-left 
  display: inline-block
  max-width: 100px
  float left

.little-right
  display: inline-block
  max-width: 75px

.pizzle 
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 18px
  color: #413E43

.greem-tournament
  font-family: Helvetica !important
  font-weight: 400
  font-size: 24px
  line-height: 36px
  color: #12A557

.orange-line
  border: 1px solid #FF7700 !important

.red-color
  color #F23A3A !important

.text-table
  font-family: Helvetica !important
  font-weight: 400
  font-size: 18px
  line-height: 27px
  color: #413E43

.text-left
  text-align: left 
  @media screen and (max-width: 600px)
    text-align: center !important

.text-right
  text-align: right
  @media screen and (max-width: 600px)
    text-align: center !important

table.column td, table.columns td.padding-left
  width auto !important
  padding 20px 10px 20px 24px
  @media screen and (max-width: 600px)
    padding 18px 6px 18px 20px !important
    width auto !important

.asset-box
  padding-left 76px
  min-height: 56px
  @media screen and (max-width: 600px)
    padding-left 56px !important
    min-height: 46px !important

.facebook
  background url('https://fsms.quadcode.com/storage/public/cu/32/ubmuko6hcq7ndacg/F.png') left center no-repeat
  background-size 56px
  @media screen and (max-width: 600px)
     background-size 46px !important

.discord
  background url('https://fsms.quadcode.com/storage/public/cu/33/7sd4nhqpsc5m5sk0/discord.png') left center no-repeat
  background-size 56px
  @media screen and (max-width: 600px)
     background-size 46px !important

table.column td, table.columns td.padding-right
  width auto !important
  padding 20px 24px 20px 10px
  @media screen and (max-width: 600px)
    padding 18px 20px 18px 6px !important
    width auto !important
.left-button
  display inline-block
  width 200px
  margin-right: 5px
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important
    margin-right 0 !important
    margin-bottom 20px !important

.right-button
  display inline-block
  width 200px
  float: right
  @media screen and (max-width: 600px)
    float none !important
    display block !important
    width 100% !important


.arrow-icon
  float: none !important
  display: inline-block
  vertical-align: middle
  max-width: 20px
  padding-left: 5px
  padding-bottom 1px

.asset-title
  font-family: Helvetica !important
  font-weight: 700
  font-size: 24px
  line-height: 36px
  letter-spacing: 0.5px
  color: #413E43
  vertical-align: middle
  @media screen and (max-width: 600px)
    font-size: 18px !important
    line-height: 26px !important

.table1
  border-collapse: initial !important
  border-radius: 24px
  border: 1px solid #EAE9E9

.img-flag
  background url('https://fsms.quadcode.com/storage/public/d3/b4/40ankfh5fd10g15g/gold.png') left top 3px no-repeat
  background-size 48px
  padding-left 64px
  @media screen and (max-width: 600px)
    max-width: 210px !important
    margin 0 auto !important

.img-flag-2
  background url('https://fsms.quadcode.com/storage/public/60/06/9c7ee1cce4d5e8a8a0/Zcash.png') left top 3px no-repeat
  background-size 48px
  padding-left 64px
  @media screen and (max-width: 600px)
    max-width: 210px !important
    margin 0 auto !important
    

.img-flag-3
  background url('https://fsms.quadcode.com/storage/public/d3/b4/2aaqubga63ldc8b0/formula-1.png') left top 3px no-repeat
  background-size 48px
  padding-left 64px
  @media screen and (max-width: 600px)
    max-width: 210px !important
    margin 0 auto !important

.img-a
  background url('https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9v0/orange-img.png') right top 24px no-repeat
  background-size 24px
  padding-right 28px

.blog-img
  display block
  float: none
  border-radius: 12px

.butt-p-small
  font-family: Helvetica !important
  color: #ffffff
  font-size: 20px 
  font-weight: 700 
  line-height: 19px 
  padding: 13px 4px 14px 
  text-align: center !important 
  white-space: nowrap
.mw294
  max-width: 294px
.under-blitx-block
  background #ffffff url('https://fsms.quadcode.com/storage/public/d0/i5/jmhmsj7vkgc00qq0/blitz-4.png') center  no-repeat
  background-size cover
  padding-right 28px
.orange-block
  display: inline-block
  padding: 6px 16px
  background: #FFEFE0
  border-radius: 12px
  font-family: Helvetica !important
  font-weight: 700
  font-size: 18px
  line-height: 27px
  color: #393A44

.lh23
  line-height: 23px !important

.img-google-apple
  float none
  width 480px 
  border-radius: 8px

.gray-text
  color: #84868b
  font-family: Helvetica !important
  font-size: 16px
  font-weight: 400 
  line-height: 24px
  
.under-img
  float: none
  background: #F9F9F9
  border-radius: 20px

.date
  font-family: Helvetica !important
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #413E43

.date-img
  display inline-block
  float: none
  width 24px !important
  padding-right 8px
  vertical-align: top

.left-block-pay
  display inline-block
  background: #F5F9FF
  border-radius: 24px
  width 49%
  max-width: 235px
  margin-bottom 8px
  @media screen and (max-width: 600px)
    width 235px !important
    margin 0 auto 8px !important
    display block !important


.right-block-pay
  display inline-block
  background: #F5F9FF
  border-radius: 24px
  width 49%
  float: right
  max-width: 235px
  margin-bottom 8px
  @media screen and (max-width: 600px)
    float: none !important
    width 235px !important
    margin 0 auto 8px !important
    display block !important


.pay-text
  font-family: Helvetica !important
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #2D323E
  vertical-align: middle
  padding: 24px

.pay-img
  float none
  width 48px !important
  padding-right 10px
  vertical-align: middle
  display: inline-block